/* Врапперы */
.wrapper.blue-light {background-color: #a65980;}
.wrapper.blue {background-color: #955073;}

/* Глобальное */
a {color: #a65980;}

ul.arrow li {background: url(../../themes/purpur_blue/images/li_arrow.png) no-repeat 0 2px;}
ul.arrow-circle li {background: url(../../themes/purpur_blue/images/li_arrow_circle.png) no-repeat 0 4px;}

/* Топ меню */
nav.menu a:hover {background-color: #26b9e1; border-bottom: 3px solid #20a8da;}
nav.menu a.active, 
nav.menu a:hover.active {background-color: #9d557a; border-bottom: 3px solid #854766;}

.bt-dropdown-add:active,
.bt-dropdown-add.active,
.bt-dropdown-profile:active,
.bt-dropdown-profile.active,
.bt-dropdown-pages:active,
.bt-dropdown-pages.active,
.bt-dropdown:active,
.bt-dropdown.active {background-color: #9d557a !important; border-bottom: 3px solid #854766 !important;}

.dropdown,
.dropdown-add,
.dropdown-profile,
.dropdown-pages {background-color: #26b9e1; }

.dropdown ul li,
.dropdown-add ul li,
.dropdown-profile ul li,
.dropdown-pages ul li {background-color: #20a8da !important;}

.dropdown ul li:hover a,
.dropdown-add ul li:hover a,
.dropdown-profile ul li:hover a,
.dropdown-pages ul li:hover a,
.dropdown-add ul li.active a,
.dropdown-profile ul li.active a,
.dropdown-pages ul li.active a,
.dropdown ul li.active a {background-color: #137497;}

.dropdown .dropdown-line,
.dropdown-add .dropdown-line,
.dropdown-profile .dropdown-line,
.dropdown-pages .dropdown-line {background: url(../../themes/purpur_blue/images/arrow_dropdown.png) no-repeat;}

/* Топ слайдер */
.theme-new .nivo-controlNav a.active {background-color: #20a8da;}
.theme-new .nivo-directionNav a {background: url(../../themes/purpur_blue/images/arrows.png) no-repeat;}
.theme-new a.nivo-prevNav {background-position: -70px 0;}
.theme-new .text-center h2, 
.theme-new .text-center h3, 
.theme-new .text-center h4, 
.theme-new .text-center h5, 
.theme-new .text-center h6 {background-color: #20a8da !important;}

/* Инфо блок на главной */
.info-block .info .button {background-color: #b86b99; border-bottom: 4px solid #a65980;}
.info-block .info .button:hover {background-color: #26b9e1 !important; border-bottom: 4px solid #20a8da !important;}

/* Нов 2 */
.nav-2-container .nav-2 .iconimg, 
.nav-2-container .nav-2 .iconimg_h {color: #a65980;} 
.nav-2-container .nav-2:hover .iconimg_h {color: #26b9e1; }
.nav-2-container .nav-2:hover .button_2 {background: #26b9e1; border-bottom: 4px solid #20a8da; color: #ffffff;}

/* О сайте */
.about .title h1 {color: #a65980;}
/* Цвет прогресс бара меняется в about.tpl data-fgColor и data-bgColor 
Например:
{if {cfg name='view.theme'} == 'тема_шаблона'}
	#цвет
{elseif {cfg name='view.theme'} == 'тема_шаблона'}
	#цвет
{else}
	#e2534b {* Дефолтный цвет *}
{/if}
*/

/* Слайдер топиков на главной */			
.slider-carousel .button:hover {border-bottom: 3px solid #20a8da !important;}

/* Сайдбар */
.sidebar .block.blogs a {color: #a65980;}
.sidebar .block.tags li a:hover {background-color: #dc5925;}
.sidebar .block.tags footer a {color: #a65980;}

/* Топики */
.topic.topic-skin-default article h1, 
.topic.topic-skin-default article h2, 
.topic.topic-skin-default article a h1, 
.topic.topic-skin-default article a h2,
.topic.topic-skin-default article .panel li i {color: #a65980;}
/* Темы топиков */
.view .info a {background-color: #a36b88;}
.view .info a:hover {background-color: #20a8da;}
.view .mask {background-color: #b57797;}

/* Пагинация */
.pagination a.active {background-color: #a65980; border-bottom: 3px solid #955073;}
.pagination a:hover {background-color: #26b9e1; border-bottom: 3px solid #20a8da;}

/* Профиль */
.profile.about-more .title h1, 
.profile.about-more .title h2, 
.profile.about-more .title h3 {color: #a65980;}
/* Цвет прогресс бара меняется в actions/ActionProfile/whois.tpl data-fgColor и data-bgColor 
Например:
{if {cfg name='view.theme'} == 'тема_шаблона'}
	#цвет
{elseif {cfg name='view.theme'} == 'тема_шаблона'}
	#цвет
{else}
	#e2534b {* Дефолтный цвет *}
{/if}
*/
.profile.about-more .vote a.minus {color: #26b9e1;}
.profile.about-more .vote a.plus {color: #a65980;}

footer h4, 
footer h5, 
footer h6 {color: #68364f;}

/* Кнопки */
.button:hover, 
.button_2:hover, 
button:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover, 
input[type="button"]:hover {background-color: #26b9e1 !important; border-bottom: 4px solid #20a8da !important;}

.button, 
.button_2, 
button, 
input[type="submit"], 
input[type="reset"], 
input[type="button"] {background-color: #b86b99; border-bottom: 4px solid #a65980;}.

/* Таблицы */
.table thead.theme3 {background-color: #20a8da !important;}
.table thead.theme2 {background-color: #a65980 !important;}

