{if $sAction=='blogs'}
	<section class="wrapper gray-light">
  			<div class="container sup-menu">
      			<div class="title align_left">			
        			<a href="{router page='blog'}">{$aLang.modus_menu_sup_collective}</a>
      			</div>
      			<div class="nav align_right">
	
      			</div>
      			<div class="triangle-down"></div>
  			</div>
		</section>
{/if}