<section class="toolbar-scrollup" id="toolbar_scrollup">
	<a href="#" onclick="return ls.toolbar.up.goUp();" title="{$aLang.toolbar_scrollup_go}" class="toolbar-topic-prev js-title-comment"><i class="fa fa-angle-double-up"></i></a>
</section>