/* Ресет
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* ==================================================
						Главное
================================================== */


/* Документ
================================================== */
	body {
		background-color: #fff;
		font: 14px/21px "Open sans", Arial, sans-serif; /* 14px/21px 14-размер, 21 - интерлиньяж (межстрочное растояние) */
		color: #777777;
 }

/* Типографика
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #7f8c8c;
		font-family: "Open sans", Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #7f8c8c; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p a, p a:visited { line-height: inherit; }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Цитаты  */
	blockquote, blockquote p {}
	blockquote { margin: 0 0 20px; padding: 0 0 0 28px; border-left: 3px solid #7f8c8c; }
	/*	Сноска, ссылка  */
	blockquote cite { display: block; font-size: 12px; color: #ccc; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #777; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* ==================================================
   Code и Pre
================================================== */

code, pre { padding: 0 3px 2px; color: #232527; font-size: 12px; font-family: Monaco, Menlo, Consolas, "Courier New", monospace;}
code { padding: 2px 4px; border: 1px solid #dde4e9; background-color: #F6F6F6; color: #232527; white-space: nowrap;}
pre { display: block; margin: 70px 50px; padding: 30px; border: 1px solid #dde4e9; background-color: #FCFCFC; white-space: pre; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; font-size: 12px; line-height: 20px; }
pre code { padding: 0; border: 0; background-color: transparent; color: inherit; white-space: pre; white-space: pre-wrap; }

.pre-scrollable { overflow-y: scroll; max-height: 340px; }

/* Ссылки
================================================== */
	a { color: #e1524b; outline: 0; }
	a:visited {text-decoration: underline;}
	a:hover, a:focus { text-decoration: none; }

/* Списки
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }

	ul.arrow li {background: url(../images/li_arrow.png) no-repeat 0 2px; padding-left: 18px;}
	ul.arrow-1 li {background: url(../images/li_arrow_1.png) no-repeat 0 8px; padding-left: 20px;}
	ul.arrow-light li {background: url(../images/li_arrow_light.png) no-repeat 0 6px; padding-left: 15px;}
	ul.arrow-circle li {background: url(../images/li_arrow_circle.png) no-repeat 0 4px; padding-left: 30px;}
	ul.arrow-circle-1 li {background: url(../images/li_arrow_circle_1.png) no-repeat 0 4px; padding-left: 30px;}
	

/* Картинки
================================================== */

	img.full-with {
		max-width: 100%;
		height: auto; }
	/* закруглкнные углы */
	img.img-rounded {
  		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	}
	/* рамкой */
	img.img-polaroid {
  		padding: 4px;
  		background-color: #fff;
  		border: 1px solid #ccc;
  		border: 1px solid rgba(0, 0, 0, 0.2);
  		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
	/* круглое */
	img.img-circle {
  		-webkit-border-radius: 500px;
     	-moz-border-radius: 500px;
        border-radius: 500px;
	}

/* Разное
================================================== */
	.rm-bottom { margin-bottom: 0 !important; }
	.hide-text { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
	.hidden { display: none; visibility: hidden; }
	.visible-phone { display: none !important; }
	.visible-tablet { display: none !important; }
	.hidden-desktop { display: none !important; }
	.visible-desktop { display: inherit !important; }

	.blue-light {color: #76c7c0 !important;}
	.red-light {color: #e8645a !important;}
	.red-light-2 {color: #e1524b !important;}
	.green {color: green;}

	span.left-icon {padding-right: 5px;}
    span.right-icon {padding-left: 5px;}

    .border-radius {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

    .empty {padding-bottom: 40px;}

    .system-message-error 	{ background: #f0c8c8; color: #b22626; padding: 10px 15px; margin: 20px 0 0 0; }
	.system-message-notice 	{ background: #dafad8; color: #4bb23b; padding: 10px 15px; margin: 20px 0 0 0; }

	.error {padding: 20px 0 !important;}

/* ==================================================
						Сайт
================================================== */


/* Шапка
================================================== */
header {}

header .logo-img {text-indent: -9999px; margin: 20px 0;}
header .logo-img a {display: block; background: url(../images/logo.png) no-repeat 0 -10px; width: 200px; height: 25px;}
header .logo-img a:hover, header .logo a:hover {opacity: 0.65; filter: alpha(opacity=65);}

header .logo {margin: 25px 0;}
header .logo a, 
header .logo-img a {text-decoration: none; color: #ffffff;}
header .logo .main {font-weight: bold; font-size: 32px; text-transform: uppercase; font-family: "Open Sans ExtraBold"; }
header .logo .text {font-size: 26px;}

/* Меню
================================================== */

/* Главное меню */
nav.menu {text-transform: uppercase; margin-top: 8px;}
nav.menu ul {margin: 25px 0;}
nav.menu li {float: left; margin: 0 15px 0 0;}
nav.menu li.search-top {position: relative;}
nav.menu li.registration {}
nav.menu li.pages {}
nav.menu a {color: #ffffff; padding: 5px 12px; text-decoration: none;}
nav.menu a:hover,
nav.menu a:hover.active  {background-color: #e8645a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #e2534b;}
nav.menu a.active {background-color: #62a29e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #528b86; }
nav.menu a#pull {display: none;} /* Прячем кнопку меню */

.sup-menu {padding: 30px 0 !important;}
.sup-menu a {text-decoration: none; color: #7f8c8c;}
.sup-menu a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.sup-menu .title a,
.sup-menu .title span {text-transform: uppercase; font-weight: bold; font-size: 18px; margin-left: 10px;}
.sup-menu .title span.name {margin-left: 0;}

.sup-menu .nav li {float: left; margin-bottom: 0;}
.sup-menu .nav a {margin: 0 5px; font-size: 12px;}
.sup-menu .nav a:hover {text-decoration: underline;}
.sup-menu .nav a.active {opacity: 0.65; filter: alpha(opacity=65);}

.sup-menu .triangle-down {position: absolute; top: 82px; width: 0; height: 0; border-left: 12px solid  transparent; border-right: 12px solid transparent; border-top: 12px solid #ececec;}

.sup-menu .nav.tag {position: absolute; right: 50px; top: 23px;}
.sup-menu .nav.tag input,
.sup-menu .nav.tag form {margin-bottom: 0;}

/* Drop down menu top
================================================== */

.bt-dropdown { display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 23px !important; }
.bt-dropdown .txt { display:block; padding-left: 10px; }
.bt-dropdown .ar { position:absolute; left: 15px; top: 4px; font-size: 10px; }

.bt-dropdown:hover { }
.bt-dropdown:active, .bt-dropdown.active { background-color: #e8645a !important; border-bottom: 3px solid #e2534b !important; }
.bt-dropdown.active { }
.bt-dropdown:hover .txt, .bt-dropdown:active .txt, .bt-dropdown.active .txt {}

.dropdown { position:absolute; top:69px; display:none; z-index:40000; background-color: #e2534b; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown ul li { background-color: #e5655d; display:block; zoom:1; float: none; margin: 5px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
.dropdown ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; }
.dropdown ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown ul li:hover a { background-color: #76c7c0; border: none; }
.dropdown ul li:hover a div { display:block; }
.dropdown ul li.active a {background-color: #76c7c0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.dropdown .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; left: 13px; }

/* Drop down menu add
================================================== */

.bt-dropdown-add { display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 23px !important; }
.bt-dropdown-add .txt { display:block; padding-left: 10px; }
.bt-dropdown-add .ar { position:absolute; left: 15px; top: 4px; font-size: 10px; }

.bt-dropdown-add:hover { }
.bt-dropdown-add:active, .bt-dropdown-add.active { background-color: #e8645a !important; border-bottom: 3px solid #e2534b !important; }
.bt-dropdown-add.active { }
.bt-dropdown-add:hover .txt, .bt-dropdown-add:active .txt, .bt-dropdown-add.active .txt {}

.dropdown-add { position:absolute; top:69px; display:none; z-index:40000; background-color: #e2534b; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown-add ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown-add ul li { background-color: #e5655d; display:block; zoom:1; float: none; margin: 5px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
.dropdown-add ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; }
.dropdown-add ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-add ul li:hover a { background-color: #76c7c0; border: none; }
.dropdown-add ul li:hover a div { display:block; }
.dropdown-add ul li.active a {background-color: #76c7c0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.dropdown-add .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; left: 13px; }

/* Drop down menu profile
================================================== */

.bt-dropdown-profile { display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 23px !important; }
.bt-dropdown-profile .txt { display:block; padding-left: 10px; }
.bt-dropdown-profile .ar { position:absolute; left: 15px; top: 4px; font-size: 10px; }

.bt-dropdown-profile:hover { }
.bt-dropdown-profile:active, .bt-dropdown-profile.active { background-color: #e8645a !important; border-bottom: 3px solid #e2534b !important; }
.bt-dropdown-profile.active { }
.bt-dropdown-profile:hover .txt, .bt-dropdown-profile:active .txt, .bt-dropdown-profile.active .txt {}

.dropdown-profile { position:absolute; top:69px; display:none; z-index:40000; background-color: #e2534b; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown-profile ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown-profile ul li { background-color: #e5655d; display:block; zoom:1; float: none; margin: 5px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
.dropdown-profile ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; }
.dropdown-profile ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-profile ul li:hover a { background-color: #76c7c0; border: none; }
.dropdown-profile ul li:hover a div { display:block; }
.dropdown-profile ul li.active a {background-color: #76c7c0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.dropdown-profile .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; left: 13px; }

/* Drop down menu pages more
================================================== */

.bt-dropdown-pages { display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 23px !important; }
.bt-dropdown-pages .txt { display:block; padding-left: 10px; }
.bt-dropdown-pages .ar { position:absolute; left: 15px; top: 4px; font-size: 10px; }

.bt-dropdown-pages:hover { }
.bt-dropdown-pages:active, .bt-dropdown-pages.active { background-color: #e8645a !important; border-bottom: 3px solid #e2534b !important; }
.bt-dropdown-pages.active { }
.bt-dropdown-pages:hover .txt, .bt-dropdown-pages:active .txt, .bt-dropdown-pages.active .txt {}

.dropdown-pages { position:absolute; top:69px; display:none; z-index:40000; background-color: #e2534b; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown-pages ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown-pages ul li { background-color: #e5655d; display:block; zoom:1; float: none; margin: 5px !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
.dropdown-pages ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; }
.dropdown-pages ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown-pages ul li:hover a { background-color: #76c7c0; border: none; }
.dropdown-pages ul li:hover a div { display:block; }
.dropdown-pages ul li.active a {background-color: #76c7c0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.dropdown-pages .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: absolute; top: -6px; left: 13px; }


/* Инфо блок
================================================== */
.info-block {}
.info-block .info {background-color: #ececec;}
.info-block .info .button {text-transform: uppercase; font-size: 20px; margin: 25px 15px; padding: 13px 10px; background-color: #e8645a; border-bottom: 4px solid #e2534b;}
.info-block .info .button:hover {background-color: #76c7c0; border-bottom: 4px solid #62b9b0;}
.info-block .info h3,
.info-block .info h2,
.info-block .info h1 {padding: 15px 15px 4px 15px; margin: 0; font-weight: bold; font-size: 28px; line-height: 34px;}
.info-block .info p {padding: 0 15px 15px 15px; margin: 0; font-size: 13px;}


/* Навигация 2 на главной
================================================== */
.nav-2-container {padding-bottom: 75px !important; padding-top: 50px !important;}

.nav-2-container .nav-2 {
	display:block;
	position:relative;
	padding: 15px 0;
	background-color: #ffffff;
	border-bottom: 4px solid #e5e6e6;
}

.nav-2-container .nav-2 p {text-align: center; text-transform: uppercase;}

.nav-2-container .nav-2 .pad {margin: 0 15px 80px 15px; font-size: 13px;}

.nav-2-container .nav-2 .iconimg, .nav-2-container .nav-2 .iconimg_h {
	margin-left:-30px;
	position:absolute;
	top:45px;
	left:50%;
	color: #62bdbd;
	font-size: 60px !important;
}

.nav-2-container .nav-2 .iconimg_h, .nav-2-container .nav-2 .button_2 {
	opacity:0;
	filter: alpha(opacity=0);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:500ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(0);
	-moz-transition-duration:500ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(0);
	-o-transition-duration:500ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(0);
	-ms-transform-duration:500ms;
	-ms-transform-timing-function: ease-out;
}

.nav-2-container .nav-2:hover .iconimg, .nav-2-container .nav-2:hover .button {
	opacity:0;
	filter: alpha(opacity=0);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:900ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(2);
	-moz-transition-duration:900ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(2);
	-o-transition-duration:900ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(2);
	-ms-transform-duration:900ms;
	-ms-transform-timing-function: ease-out;
}
.nav-2-container .nav-2:hover .iconimg_h, .nav-2-container .nav-2:hover .button_2 {
	opacity:1;
	color: #e2534b;
	filter: alpha(opacity=100);
	/* safari / chrome */
	-webkit-animation-name:rotater;
	-webkit-animation-duration:900ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-timing-function: ease-out;

	/* mozilla */
	-moz-transform: scale(1);
	-moz-transition-duration:900ms;
	-moz-transition-timing-function: ease-out;

	/* opera */
	-o-transform: scale(1);
	-o-transition-duration:900ms;
	-o-transition-timing-function: ease-out;

	/* ie */
	-ms-transform: scale(1);
	-ms-transform-duration:900ms;
	-ms-transform-timing-function: ease-out;
}
.nav-2-container .nav-2:hover .button_2 {background: #e8645a; border-bottom: 4px solid #e2534b; color: #ffffff; }

.nav-2-container .nav-2 p {
	margin:0;
	padding:95px 15px 20px;
	font-weight: bold;
	font-size:16px;
	line-height:29px;
}

.nav-2-container .nav-2 .button,
.nav-2-container .nav-2 .button_2 {position: absolute; left: 25px; bottom: -30px;}


/* Навигация 3
================================================== */
.nav-3 					{ overflow: hidden; zoom: 1; }
.nav-3 li 				{ float: left; }

.nav-3 li:last-child 		{ border-right: none; }
.nav-3 li a 				{ display: block; padding: 10px 15px; color: #fff; text-decoration: none; }
.nav-3 li a:hover 		{ background: #f3f3f3; }
.nav-3 li.active a 		{ background: #f3f3f3; }


/* Nav Pills */
.nav-3.nav-pills 				{ margin-bottom: 15px; }
.nav-3.nav-pills li 			{ margin-right: 3px; }
.nav-3.nav-pills li a 		{ border-radius: 2px; padding: 5px 12px; background: #f5f5f5; color: #777; }
.nav-3.nav-pills li a:hover,
.nav-3.nav-pills li.active a:hover 	{ color: #ffffff; background: #eaeaea; background-color: #e8645a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #e2534b; }
.nav-3.nav-pills li.active a 	{ color: #ffffff; background-color: #62a29e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #528b86; }


/* О нас
================================================== */
.about .title {padding: 80px 0 40px 0;}
.about .title h1 {color: #e1524b; text-transform: uppercase;}
.about .title p {font-size: 13px; font-weight: bold; margin: 0;}


.about .why-img {position: relative; width: 100%; height: 360px; margin-bottom: 20px;}
.about .brouser-center.width-6,
.about .brouser-left.width-3,
.about .brouser-right.width-3 {background-color: #c1c7c8; position: absolute;}

.about .brouser-center.width-6 img,
.about .brouser-left.width-3 img,
.about .brouser-right.width-3 img {padding: 0 5px 5px 5px;}

.about .brouser-center.width-6 {height: 359px; left: 300px; z-index: 1;}
.about .brouser-left.width-3,
.about .brouser-right.width-3 {height: 259px; width: 370px; bottom: 50px;}
.about .brouser-left.width-3 {left: 0;}
.about .brouser-right.width-3 {right: 0;}

.about .brouser-panel ul {margin: 15px 13px;}
.about .brouser-panel li {width: 12px; height: 12px; margin: 0 4px; background-color: #ffffff; float: left; -webkit-border-radius: 500px; -moz-border-radius: 500px; border-radius: 500px; }
.about .brouser-panel li.minus {float: right; height: 6px; margin-top: 3px;}

.about-more {padding: 55px 0;}
.about-more h4,
.about-more h3,
.about-more h5
.about-more h6 {font-weight: bold; font-size: 16px; margin-bottom: 40px;}
.about-more p {font-size: 13px;margin-left: 18px;}
.about-more ul li a {text-decoration: none; color: #777777}
.about-more ul li a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.about-more .say {font-style: italic;}
.about-more .autor {text-decoration: none; font-weight: bold; color: #777777; margin-left: 57px; display: block; margin-bottom: 40px;}
.about-more .autor:hover {opacity: 0.65; filter: alpha(opacity=65);}

.knob-bg {position: relative; padding-bottom: 40px;}
.knob-bg.width-2 { width: 120px !important; margin: 20px 11px !important;}
.knob-bg .title { text-align: center; text-transform: uppercase; font-weight: bold; margin-top: 10px;}

/* Слайдер на главной
================================================== */
.slider-carousel .list_carousel { margin: 0 0 50px 60px; width: 360px; }
.slider-carousel .list_carousel ul { margin: 0; padding: 0; list-style: none; display: block; } 
.slider-carousel .list_carousel li { width: 50px; height: 50px; padding: 0; margin: 6px; display: block; float: left; }
.slider-carousel .list_carousel li:hover {opacity: 0.65; filter: alpha(opacity=65);}
.slider-carousel .list_carousel.responsive { width: auto; margin-left: 0; }

.slider-carousel .button {width: 40px; font-size: 20px; background-color: #98a3a3; border-bottom: 3px solid #7f8c8c;}			
.slider-carousel .button:hover {border-bottom: 3px solid #e2534b;}

.slider-carousel .next,
.slider-carousel .prev {position: relative; top: -10px;}
.slider-carousel .prev { float: right; padding: 8px 0px 5px 5px; }
.slider-carousel .next { float: right; margin-right: 19px; padding: 8px 5px 5px 0px; }

.slider-carousel .pager { float: left; width: 900px; margin-left: 15px; }
.slider-carousel .pager a { margin: 0 5px; text-decoration: none; padding: 5px; }
.slider-carousel .pager a.selected { background: url(../images/paging_slide.png) no-repeat 0 11px; }
.slider-carousel .pager span {opacity: 0;}
.slider-carousel .line {background-color: #e1e2e2; height: 1px; width: 900px; position: absolute; top: 10px; left: 155px;}

.slider-carousel .title {float: left;}
.slider-carousel .title h6 {font-weight: bold; font-size: 16px;}

/* Контент
================================================== */
.content {padding: 66px 0;}

/* Топик по умолчанию
================================================== */

.topic.topic-skin-default a {text-decoration: none;}
.topic.topic-skin-default a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.topic.topic-skin-default article {margin: 35px 0 0 100px;}
.topic.topic-skin-default article h1,
.topic.topic-skin-default article h2,
.topic.topic-skin-default article a h1,
.topic.topic-skin-default article a h2 {color: #76c7c0; font-size: 24px; line-height: 27px; margin-bottom: 10px; }
.topic.topic-skin-default article a:hover h1,
.topic.topic-skin-default article a:hover h2 {opacity: 0.65; filter: alpha(opacity=65);}

/* типографика топика */
.topic.topic-skin-default article p {margin-bottom: 30px !important;}

.topic.topic-skin-default article .panel li {float: left; margin: 0 15px 5px 0;}
.topic.topic-skin-default article .panel li i {color: #62b9b0; margin-right: 4px;}
.topic.topic-skin-default article .panel li .new-comments {font-size: 13px;}
.topic.topic-skin-default article .panel li .go-comments {color: #777777;}
.topic.topic-skin-default article .panel li .tag,
.topic.topic-skin-default article .panel li .actions-edit,
.topic.topic-skin-default article .panel li .actions-delete,
.topic.topic-skin-default article .panel li.topic-info-favourite a {color: #777777; text-decoration: none;}

.topic.topic-skin-default {padding: 42px 0; border-bottom: 3px solid #e5e6e6;}

.topic.topic-skin-default .info {width: 70px; float: left;}
.topic.topic-skin-default .date,
.topic.topic-skin-default .topic-type {border-bottom: 3px solid #e5e6e6; margin-bottom: 17px;}
.topic.topic-skin-default .date {background-color: #f8f8f8; padding: 14px; font-size: 24px; text-transform: uppercase; position: relative;}
.topic.topic-skin-default .date .namber {font-weight: bold; padding-top: 15px; display: block;}
/* Костыль подложка, чтобы сократить месяц в три буквы. Например, робот видит "Сентябрь", а пользователь "Сен". */
.topic.topic-skin-default .date .date-bg {height: 30px; width: 10px; position: absolute; background: #f8f8f8; top: 10px; left: 60px;}
.topic.topic-skin-default .date .date-bg-1 {height: 30px; width: 80px; position: absolute; background: #f3f3f3; top: 10px; left: 70px;}


/* Шара по социалкам */
.topic.topic-skin-default .slider-carousel .list_carousel .social-share { margin: 0;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li {color: #ffffff; margin-right: 0px; margin-bottom: 0; float: left; list-style: none; font-size: 24px;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a {color: #ffffff; display: block; width: 40px; height: 40px; position: relative;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.topic.topic-skin-default .slider-carousel .list_carousel .caroufredsel_wrapper {width: 610px !important;}
.topic.topic-skin-default .slider-carousel .list_carousel .share-text {color: #7f8c8c; float: left; padding-top: 15px; margin-right: 10px; font-size: 14px; font-weight: bold; text-transform: uppercase;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a.facebook {background-color: #526da3;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a.twitter {background-color: #73bfe6;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a.google-plus {background-color: #e2534b;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a.linkedin {background-color: #527aa3;}
.topic.topic-skin-default .slider-carousel .list_carousel .social-share li a i {position: absolute; top: 9px; left: 10px;}

.topic.topic-skin-default .slider-carousel .list_carousel { background-color: #ececec; padding: 10px 15px 5px 15px; margin: 0 0 0 60px; width: 360px; }
.topic.topic-skin-default .slider-carousel .list_carousel.responsive { width: auto; margin-left: 0; }

.topic.topic-skin-default .slider-carousel .button {width: 37px; height: 28px; font-size: 20px; background-color: #98a3a3; border-bottom: 0px solid #7f8c8c;}			
.topic.topic-skin-default .slider-carousel .button:hover {border-bottom: 0px solid #e2534b; background-color: #e2534b; opacity: 1; filter: alpha(opacity=100);}

.topic.topic-skin-default .slider-carousel .next,
.topic.topic-skin-default .slider-carousel .prev {position: relative; top: -50px;}
.topic.topic-skin-default .slider-carousel .prev { float: right; padding: 8px 0px 5px 5px; }
.topic.topic-skin-default .slider-carousel .next { float: right; margin-right: 19px; padding: 8px 5px 5px 0px; }

/* Топик текстовый */

.topic.topic-skin-default .topic-type {background-color: #7f8c8c; color: #ffffff; padding: 20px 5px; font-size: 30px;}

.topic.topic-skin-default .topic-avatar {width: 770px; float: right; position: relative;}
.topic.topic-skin-default .topic-avatar img {border-bottom: 3px solid #e5e6e6;}

.topic.topic-skin-default .text,
.topic.topic-skin-default .text p {margin: 0; font-size: 14px;}

.topic.topic-skin-default .text .cut {margin-top: 25px; display: block;}
.topic.topic-skin-default .text .cut i {font-size: 13px; margin-left: 6px;}

/* Топик фотосет */

.topic.topic-skin-default.topic-type-photoset .nivo-prevNav,
.topic.topic-skin-default.topic-type-photoset .nivo-nextNav {top: 120px;}

.topic-photo-upload { background: #fafafa; padding: 15px 15px 15px; margin-bottom: 20px; }
.topic-photo-upload h2 { margin-bottom: 15px; }
.topic-photo-upload ul { overflow: hidden; zoom: 1; }
.topic-photo-upload ul li { min-height: 100px; _height: 100px; margin-bottom: 30px; padding-left: 110px; position: relative; }
.topic-photo-upload ul li img { position: absolute; top: 0; left: 0; }
.topic-photo-upload ul li label { color: #aaa; }
.topic-photo-upload ul li textarea { width: 350px; height: 93px; padding: 3px; font-size: 12px; color: #777; margin: 0; }
.topic-photo-upload ul li .image-delete { text-decoration: none; margin-right: 15px; }
.topic-photo-upload ul li .image-delete:hover { color: #f00; }
.topic-photo-upload ul li.marked-as-preview .mark-as-preview { display: inline; color: #43c70f; font-weight: bold; }
.topic-photo-upload ul li .mark-as-preview { display: none; text-decoration: none; }
.topic-photo-upload ul li:hover .mark-as-preview { display: inline; }
.topic-photo-upload .topic-photo-upload-rules { color: #888; margin-bottom: 15px; }
.topic-photo-upload .topic-photo-upload-input { margin-bottom: 20px; }
.topic-photo-upload .topic-photo-upload-input input { margin-top: 3px; }

/* Топик ссылка */

.topic.topic-skin-default.topic-type-link a.link {display: block; margin: 20px 0;}

/* Топик вопрос */

.topic.topic-skin-default.topic-type-question .poll { padding: 20px 0; }

.topic.topic-skin-default.topic-type-question .poll-vote { margin-bottom: 20px; margin-left: 0; list-style-type: none;	}
.topic.topic-skin-default.topic-type-question .poll-vote li { margin-bottom: 10px; }
.topic.topic-skin-default.topic-type-question .poll-vote li:last-child { margin-bottom: 0; }
.topic.topic-skin-default.topic-type-question .poll-vote li label { display: inline; }
.topic.topic-skin-default.topic-type-question .poll-vote li input { position: relative; top: 1px; margin-right: 2px; }

.topic.topic-skin-default.topic-type-question .poll-result { margin: 0; list-style-type: none; padding: 20px 0; }
.topic.topic-skin-default.topic-type-question .poll-result li { margin-bottom: 20px; }
.topic.topic-skin-default.topic-type-question .poll-result li dl { overflow: hidden; zoom: 1; }
.topic.topic-skin-default.topic-type-question .poll-result li dl dt { float: left; width: 50px; text-align: right; padding-right: 15px; }
.topic.topic-skin-default.topic-type-question .poll-result li dl dt span { color: #aaa; }
.topic.topic-skin-default.topic-type-question .poll-result li dl dd { float: left; width: 400px; }
.topic.topic-skin-default.topic-type-question .poll-result li dl dd div { height: 10px; margin-top: 5px; background: #ccc; overflow: hidden; border-radius: 2px; }
.topic.topic-skin-default.topic-type-question .poll-result li.most dl dd div { background: #60CC4E; }

.topic.topic-skin-default.topic-type-question .poll-total { color: #aaa; margin-left: 10px; }
.topic.topic-skin-default.topic-type-question .button.button-icon.active { background: #e8645a; border-bottom: 4px solid #e2534b; }

.question-list .answer-add {position: relative;}
.question-list .answer-add a:before {content: "\f00d"; padding-right: 2px; font: normal normal normal 14px/1 FontAwesome; }
.question-list .answer-add a {text-decoration: none; display: block; width: 30px; height: 30px; color: #777; position: absolute; top: 8px; left: 270px;}
.question-list .answer-add a:hover {opacity: 0.65; filter: alpha(opacity=65);}

/* Топик страница */

.topic.topic-skin-default.btopic {border-bottom: 0;}
.topic.topic-skin-default.btopic .topic-avatar {float: none; width: 100%; margin-bottom: 20px; position: static;}
.topic.topic-skin-default.btopic article {margin: -9px 0 0 0;}

.topic.topic-skin-default.btopic h1 {line-height: 27px;}
.topic.topic-skin-default.btopic h1,
.topic.topic-skin-default.btopic .panel {float: left; width: 690px;}
.topic.topic-skin-default.btopic .info {margin: 10px 10px 10px 0;}
.topic.topic-skin-default.btopic .topic-vote {background-color: #7f8c8c; color: #ffffff; border-bottom: 3px solid #e5e6e6; float: left; width: 60px; height: 30px; margin: 10px 30px 10px 0; padding: 20px 5px; font-size: 30px;}
.topic.topic-skin-default.btopic .topic-vote a {color: #ffffff;}
.topic.topic-skin-default.btopic .topic-vote a.plus {position: relative; top: -2px;}
.topic.topic-skin-default.btopic .topic-vote a.minus {position: relative; top: 3px;}
.topic.topic-skin-default.btopic .topic-vote .vote-count {margin-top: 2px;}

.topic.topic-skin-default.btopic .text {margin-bottom: 20px;}
.topic.topic-skin-default.btopic .text img {max-width: 100%; height: auto;}

/* Топик лист, тема 2
================================================== */
.topic.topic-skin-theme2 a {text-decoration: none;}
.topic.topic-skin-theme2 a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.topic.topic-skin-theme2 article {margin: -5px 0 0 100px;}
.topic.topic-skin-theme2 article h1,
.topic.topic-skin-theme2 article h2,
.topic.topic-skin-theme2 article a h1,
.topic.topic-skin-theme2 article a h2 {color: #7f8c8c; font-size: 18px; font-weight: bold; line-height: 26px; margin-bottom: 20px; }
.topic.topic-skin-theme2 article a:hover h1,
.topic.topic-skin-theme2 article a:hover h2 {opacity: 0.65; filter: alpha(opacity=65);}

/* типографика топика */
.topic.topic-skin-theme2 article p {margin-bottom: 30px !important;}

.topic.topic-skin-theme2 {padding: 42px 0; min-height: 270px;}

.topic.topic-skin-theme2 .topic-avatar {width: 470px; float: left; margin-right: 30px;}
.topic.topic-skin-theme2 .topic-avatar img {border-bottom: 3px solid #e5e6e6;}

.topic.topic-skin-theme2 .text,
.topic.topic-skin-theme2 .text p {margin: 0; font-size: 14px;}
.topic.topic-skin-theme2 .text .button {margin-top: 25px; display: block; float: right; width: 200px; text-transform: uppercase;}
.topic.topic-skin-theme2 .text .button:hover {opacity: 1; filter: alpha(opacity=100);}

/*.topic.topic-skin-default.topic-type-photoset .nivo-controlNav {display: none;}  if photoset topic-list display none */
.topic.topic-skin-theme2.topic-type-photoset .nivo-prevNav,
.topic.topic-skin-theme2.topic-type-photoset .nivo-nextNav {top: 100px;}
.topic.topic-skin-theme2.topic-type-photoset .nivo-controlNav {display: none;} 

/* Топик лист, тема 3
================================================== */

.topic.topic-skin-theme3 {padding: 15px 0; width: 400px;}

.topic.topic-skin-theme3 .topic-avatar {}
.topic.topic-skin-theme3 .topic-avatar img {border-bottom: 3px solid #e5e6e6;}

/*.topic.topic-skin-default.topic-type-photoset .nivo-controlNav {display: none;}  if photoset topic-list display none */
.topic.topic-skin-theme3.topic-type-photoset .nivo-prevNav,
.topic.topic-skin-theme3.topic-type-photoset .nivo-nextNav {top: 100px;}
.topic.topic-skin-theme3.topic-type-photoset .nivo-controlNav {display: none;} 

/* Топик лист, тема 4
================================================== */

.topic.topic-skin-theme4 {padding: 15px 0; width: 260px;}

.topic.topic-skin-theme4 .topic-avatar {}
.topic.topic-skin-theme4 .topic-avatar img {border-bottom: 3px solid #e5e6e6;}
.topic.topic-skin-theme4.item {}

/*.topic.topic-skin-default.topic-type-photoset .nivo-controlNav {display: none;}  if photoset topic-list display none */
.topic.topic-skin-theme4.topic-type-photoset .nivo-prevNav,
.topic.topic-skin-theme4.topic-type-photoset .nivo-nextNav {top: 100px;}
.topic.topic-skin-theme4.topic-type-photoset .nivo-controlNav {display: none;} 



/* Костыль для отображения топиков с отключенным сайдбаром */
.no-sidebar .topic.topic-skin-theme3 {width: 380px;}
.no-sidebar .topic.topic-skin-theme3.view {height: 200px;margin-right: 20px;}
.no-sidebar .topic.topic-skin-theme3.view p {margin-bottom: 0;}
.no-sidebar .topic.topic-skin-theme3.view h2 {margin-top: 0;}

.no-sidebar .topic.topic-skin-default .topic-avatar {width: 1100px;}

/* Костыль выравнивания топика, если отключен вывод аватаров в дефолтной теме топиков */
.topic.avatar-default article {margin-top: 0;}
.topic.avatar-default header {float: left; width: 100%;}


/* Topic Talk */
.topic.topic-type-talk { }
.topic.topic-type-talk .topic-header { background: #f7f7f7; padding: 10px 15px 15px; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #eee; }
.topic.topic-type-talk .topic-header .topic-title { margin-bottom: 13px; font-size: 20px; }
.topic.topic-type-talk .topic-header .topic-info { margin-bottom: 0; position: relative; min-height: 30px; padding-left: 40px; line-height: 14px; }
.topic.topic-type-talk .topic-header .topic-info .avatar { position: absolute; top: 0; left: 0; }
.topic.topic-type-talk .topic-header .topic-info .author-wrapper { margin-bottom: 4px; position: relative; top: -2px; }
.topic.topic-type-talk .topic-header .topic-info .author-wrapper .author { font-weight: bold; margin-right: 15px; }
.topic.topic-type-talk .topic-header .topic-info .recipient { margin-right: 10px; }
.topic.topic-type-talk .topic-content { font-size: 13px; padding: 15px; background: #fafafa; margin-bottom: 1px; border-top: 1px solid #fff; }
.topic.topic-type-talk .topic-footer .topic-info { border-radius: 0; margin-left: 15px }
.topic.topic-type-talk .topic-footer .topic-info a {color: #e1524b; }
.topic.topic-type-talk .topic-footer .topic-info li {float: left; margin-right: 10px;}

/* Пагинатор
================================================== */
.pagination {padding: 60px 0; clear: both;}
.pagination li {float: left; margin-right: 10px;}
.pagination a {display: block; padding: 6px 10px; color: #ffffff; background-color: #8c9898; border-bottom: 3px solid #7f8c8c; font-size: 12px; font-weight: bold; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.pagination a:hover {background-color: #e5655d; border-bottom: 3px solid #e2534b;}
.pagination a.active {background-color: #649792; border-bottom: 3px solid #528b86;}

/* --------------------------------------------
	КОММЕНТАРИИ
-------------------------------------------- */

/* Блок с комментариями */
.comments-header { margin-bottom: 20px; }
.comments-header h3 { font-size: 22px; margin-bottom: 5px; }
.comments-header .padding {top: 2px !important;}

.comments { margin-bottom: 30px; }

.comment-wrapper { position: relative; }
.comment-wrapper .comment-wrapper { padding-left: 25px; }

.comment-preview { padding: 5px 10px 6px; margin-bottom: 10px; background: #fafafa; border: 1px solid #eee; border-radius: 3px; }
.comment-preview { font-size: 13px; line-height: 18px; }


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */
.comments.comment-list {clear: both;}
.comments.comment-list .comment-info { margin-bottom: 0 !important; }
.comments.comment-list .comment-info li.reply.comment-delete {right: 0px;}


/* Комментарий */
.comment { min-height: 48px; margin-bottom: 10px; padding: 0 0 10px 50px; position: relative; }
.comment .deleted { padding: 5px 10px; color: #777; background: #f4f4f4; }
.comment .comment-avatar { position: absolute; top: 10px; left: 10px; }

/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */
.comment 							{ }

.ls-user-role-not-admin .comment.comment-deleted 	{ padding: 10px 15px; min-height: 0; background: #f7f7f7; color: #888; }


/* Info Block */
.comment .comment-info { padding: 25px 70px 7px 25px; margin-bottom: 0; line-height: 12px; position: relative; top: -2px; overflow: hidden; zoom: 1; }
.comment .comment-info li { float: left; height: 18px; margin: 0 0 0 15px; }
.comment .comment-info li a { text-decoration: none; color: #7f8c8c; }
.comment .comment-info li.comment-author a { font-weight: bold; }
.comment .comment-info li.comment-date a { color: #999; border-color: #999; font-size: 14px;}
.comment .comment-info li.goto-comment-child { display: none; font-size: 10px; }
.comment .comment-info li.goto-comment-parent {font-size: 10px;}
.comment .comment-info li.reply a {color: #e2534b; text-transform: uppercase; font-size: 12px;}
.comment .comment-info li.reply a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.comment .comment-info li.reply.comment { position: absolute; right: 60px; }
.comment .comment-info li.reply.comment-delete { position: absolute; right: 150px; }
.comment .comment-info li.reply.comment-repair {position: absolute; right: 50px; }
.comment .comment-info li.reply.comment-favourite {position: absolute; right: 240px;}
.comment .comment-info li.vote { position: absolute; right: 0; }

/* Content */
.comment .comment-content { padding: 10px 20px 20px 40px; border-bottom: 3px solid #e5e6e6; background-color: #f8f8f8;}
.comment .comment-content.comment-deleted 			{ background: #efd5d5; border-bottom: 3px solid #F3C0C0; }
.comment .comment-content.comment-self				{ background: #c5f7ea; border-bottom: 3px solid #BBEBDE; }
.comment .comment-content.comment-new 				{ background: #fbfba8; border-bottom: 3px solid #e5e6e6; }
.comment .comment-content.comment-current 			{ background: #a5e7fa; border-bottom: 3px solid #a5e7fa; }
.comment .comment-content.comment-bad 				{ opacity: 0.3; filter: alpha(opacity=30); }
.comment .comment-content.comment-bad:hover 			{ opacity: 1; filter: alpha(opacity=100); }

.comment .comment-content.text { font-size: 13px; }
.comment .comment-content.text blockquote { background: #fff; border-color: #ccc; padding: 5px 10px; margin-bottom: 5px; }

/* Форма комментирования */
.reply-header { font-size: 20px; line-height: 1.3em; margin-bottom: 15px; }

.reply { padding-bottom: 10px; }
.reply textarea { height: 100px; }
.reply textarea.loader { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }

.reply .mceEditor { display: block; margin-bottom: 10px; }

.reply .button {text-transform: uppercase; padding: 15px;}

/* Голосование 
---------------------------------------------------- */
.vote .vote-count 							{ display: inline-block; font-weight: bold; color: #aaa; font-size: 14px; padding: 0 3px; }
.vote .vote-count a 						{ text-decoration: none; color: #999; outline: none; }

.vote.vote-count-positive .vote-count 		{ color: #390; }
.vote.vote-count-negative .vote-count 		{ color: #f00; }

.vote .vote-up,
.vote .vote-down 							{ font-size: 16px; display: inline-block; cursor: pointer; vertical-align: text-top; opacity: .3; filter: alpha(opacity=30); }
.vote .vote-up 								{ color: green; }
.vote .vote-down 							{ color: red; }
.vote .vote-up:hover 						{ opacity: .8; filter: alpha(opacity=80); }
.vote .vote-down:hover 						{ opacity: .8; filter: alpha(opacity=80); }

.vote.voted.voted-up 	.vote-up 			{ opacity: 1; filter: alpha(opacity=100); }
.vote.voted.voted-down 	.vote-down 			{ opacity: 1; filter: alpha(opacity=100); }
.vote.voted.voted-up 	.vote-down:hover 	{ opacity: .3; filter: alpha(opacity=30); }
.vote.voted.voted-down 	.vote-up:hover 		{ opacity: .3; filter: alpha(opacity=30); }



/* Избранное 
---------------------------------------------------- */
/* В избранное
================================================== */
.favourite 			{}
.favourite.active 	{ opacity: 1; filter: alpha(opacity=100); }
.favourite:hover 	{ opacity: .8; filter: alpha(opacity=80); }
.favourite-count    { margin-left: 0; }


/* Сайдбар
================================================== */

.sidebar {margin-top: 105px;}
.sidebar .block {margin-bottom: 40px; overflow: hidden; position: relative;}
.sidebar .block h4,
.sidebar .block h5,
.sidebar .block h6 {font-weight: bold; text-transform: uppercase; font-size: 16px; margin-bottom: 30px;}
.sidebar .block a.title {text-decoration: none;}
.sidebar .block ul {margin-left: 12px;}
.sidebar .block ul li {margin-bottom: 15px;}

.sidebar .nav-block {margin-left: 0 !important;}
.sidebar .nav-block li {float: left; margin-right: 15px;}

.sidebar .block.blogs {text-transform: uppercase; color: #e2534b; font-size: 13px;}
.sidebar .block.blogs a {color: #e2534b; text-decoration: none; font-weight: bold;}
.sidebar .block.blogs a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.sidebar .block.blogs footer a {font-weight: normal; text-transform: none; text-decoration: underline; font-size: 14px; }
.sidebar .block.blogs footer a:hover {text-decoration: none;}
.sidebar .block.blogs ul.avatar {margin-left: 0;}
.sidebar .block.blogs ul.avatar li {float: left; margin-right: 20px;}

.sidebar .block.stream li {border-bottom: 1px solid #e5e6e6; padding-bottom: 12px;}
.sidebar .block.stream li a {line-height: 24px; display: block;s}
.sidebar .block.stream time {display: block;}

.sidebar .block.tags li {float: left; margin-right: 10px;}
.sidebar .block.tags li a {background-color: #7f8c8c; color: #ffffff; padding: 4px 10px; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.sidebar .block.tags li a:hover {background-color: #e2534b;}
.sidebar .block.tags h5 {margin-bottom: 10px;}
.sidebar .block.tags .block-content {margin-bottom: 10px;}
.sidebar .block.tags footer a {font-size: 14px; background: none; color: #e1524b; text-decoration: underline;}
.sidebar .block.tags footer a:hover { background: none; text-decoration: none; opacity: 1; filter: alpha(opacity=100); }

.sidebar .block.talk input {margin: 0;}
.sidebar .block.talk .date-picker {width: 94px; float: left;}
.sidebar .block.talk .date-line {float: left; margin: 5px 10px 0 10px;}
.sidebar .block.talk label {margin-bottom: 5px;}
.sidebar .block.talk#talk_recipients {display: none;}

.sidebar .block.talk.friends {display: block;}
.sidebar .block.talk.friends .padding {top: 3px; margin-right: 2px;}
]
/* Страница люди
================================================== */
.people .two-thirds {padding-top: 20px; margin-left: 0; margin-right: 30px;}
.people .one-third {margin-top: -40px;}
.people form {width: 870px !important; margin: 0;}
.people .search input {margin: 0; width: 844px !important;}
.people .search-abc 					{ overflow: hidden; zoom: 1; padding: 110px 0 0 0;}
.people .search-abc li 					{ float: left; margin: 0 15px 0 0; }
.people .search-abc li a {color: #777; text-decoration: none; display: inline;}
.people .search-abc li a:hover {text-decoration: underline; color: #333;}
.people .search-abc li.active a 		{ color: #333; text-decoration: underline; }

/* Страница блогов
================================================== */

.content.blogs{overflow: hidden;}
.blogs input {width: 1175px;}
.blogs .topic.topic-skin-theme4 {padding: 30px 0; width: 270px; height: 240px;}
.blogs .topic-skin-theme4.view {margin: 0 15px;}
.blogs .topic-skin-theme4.view .mask,
.blogs .topic-skin-theme4.view .content {margin: 30px 0; width: 270px; height: 263px;}

.blogs.info-block {padding-top: 60px;}
.blogs.info-block .info h3 {padding-bottom: 10px;}

.vote-blog {display: inline;}

.blog-more-content .user {margin-right: 5px;}


/* Страница профиля
================================================== */
.profile .foto,
.profile .topic-avatar {margin: 40px 0 !important; }
.profile .topic-avatar img {}
.profile .topic-avatar a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.profile .topic-avatar .width-1,
.profile .topic-avatar .width-2,
.profile .topic-avatar .width-9 {margin: 0 0 0 4px; }

.profile .topic-avatar.width-9 {width: 930px; }
.profile .topic-avatar .width-2 {width: 133px;}
.profile .topic-avatar .width-1 {width: 87px;}

.profile .topic-avatar .row-1 {width: 830px; float: left;}

.profile .topic-avatar .row-2 {width: 80px; float: left; margin: 0 4px;}
.profile .topic-avatar .row-2 a {display: block; width: 78px; height: 140px; font-size: 30px; padding-top: 110px;}

.profile .foto .action {background: #000; opacity: 0.65; filter: alpha(opacity=65); position: absolute; top: 50px; left: 10px;}
.profile .foto .action ul, .profile .foto .action li {margin-bottom: 0;}
.profile .foto .action li {float: left; padding: 5px;}
.profile .foto .action a {color: #ffffff; font-size: 17px; display: block; text-decoration: none;}
.profile .foto .action a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.profile .foto .action .status {font-size: 14px; color: #ffffff}

.profile .foto .upload-photo {background: #000; opacity: 0.65; filter: alpha(opacity=65); position: absolute; top: 270px; left: 10px; padding: 5px 0 5px 10px;}
.profile .foto .upload-photo a {color: #ffffff; font-size: 14px; text-decoration: none;}
.profile .foto .upload-photo a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.profile.info-block {margin-bottom: 20px;}
.profile .user-about {position: relative;}
.profile .user-about .triangle-up {position: absolute; top: -11px; left: 50px; width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #ececec;}

.profile.about-more {padding-top: 0;}
.profile.about-more .title a {text-decoration: none;}
.profile.about-more .title a:hover {text-decoration: underline;}
.profile.about-more .title h1,
.profile.about-more .title h2,
.profile.about-more .title h3 {color: #e1524b;text-transform: uppercase;margin-bottom: 40px; }
.profile.about-more ul {margin-bottom: 40px;}

.profile.about-more .friends {margin: 10px 0 20px 0;}
.profile.about-more .friends ul {overflow: hidden; margin: 0;}
.profile.about-more .friends li {float: left; padding: 0 2px 0 2px; margin: 0;}
.profile.about-more .friends li a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.profile.about-more .vote {}
.profile.about-more .vote a {font-size: 40px; display: block; padding: 42px 40px;}
.profile.about-more .vote a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.profile.about-more .vote a.plus {color: #76c7c0;}
.profile.about-more .vote a.minus {color: #e2534b;}

.profile.about-more .vote .fa-thumbs-o-down {position: relative; top: 5px;}
.profile.about-more .vote .fa-thumbs-o-up {position: relative; top: -5px;}

.profile .user-profile-comments {clear: both;}


.profile .block-type-profile-note .triangle-up {left: 1130px;}
.profile .block-type-profile-note { padding-bottom: 10px;}
.profile .block-type-profile-note .actions 	{ position: absolute; right: 0; top: 10px; }
.profile .block-type-profile-note .actions li {float: left; padding-right: 10px; font-size: 17px;}
.profile .block-type-profile-note .actions li a,
.profile .block-type-profile-note a.note-add {color: #7f8c8c; opacity: 0.65; filter: alpha(opacity=65);}
.profile .block-type-profile-note .actions li a:hover,
.profile .block-type-profile-note a.note-add {opacity: 1; filter: alpha(opacity=100);}
.profile .block-type-profile-note a.note-add {position: absolute; top: 5px; right: 10px;}
.profile .block-type-profile-note textarea {margin-bottom: 0;}
.profile .block-type-profile-note .button {margin: 0 0 0 15px; font-size: 14px;}

.talk {}
.talk .content {padding: 110px 0;}
.talk .content.two-thirds {margin-left: 0;margin-right: 30px;}

/* Стена в профиле
================================================== */
.wall {padding: 40px 0;}
.wall-submit 									{ margin-top: 70px; }
.wall-submit textarea							{margin-bottom: 0;}
.wall-submit.wall-submit-reply 					{ margin: 2px 0 2px 25px; padding: 7px; background: #fafafa; }
.wall-submit.wall-submit-reply textarea 		{ height: 28px; *height: 16px; *width: 590px; width: 1100px; margin: 0 0 0 43px; }
.wall-submit.wall-submit-reply button 			{ display: none; margin-left: 43px; }
.wall-submit.wall-submit-reply.active textarea 	{ height: 80px; margin-bottom: 5px; }
.wall-submit.wall-submit-reply.active button 	{ display: block; }
.wall-submit p 									{ margin-bottom: 5px; }


.wall .comment .comment-info li.reply.comment {right: 90px;}
.wall .comment .comment-info li.reply.comment-delete {right: 0;}

.comment.wall-comment-reply 					{ }
.comment.wall-comment-reply .comment-avatar 	{ }

.wall-more 							{ display: block; background: #f7f7f7; text-align: center; padding: 7px 0; font-size: 11px; margin-bottom: 2px; }
.wall-more:hover 					{ background: #eee; }
.wall-more.wall-more-reply 			{ margin-left: 50px; }
.wall-more.loader 					{ background: #fafafa url(../images/loader.gif) 50% 50% no-repeat; }
.wall-more.loader .wall-more-inner 	{ visibility: hidden; }

.wall-note h3 { font-size: 15px; margin-bottom: 20px; font-family: Verdana, sans-serif; }

/* Stream
================================================== */
.form-profile input {margin-bottom: 0 !important;}
.form-profile .avatar-change {}

/* Stream
================================================== */
.stream-get-more { display: block; text-align: center; padding: 12px 0; background: #fafafa; color: #aaa; border-top: 1px solid #eee; text-decoration: none; }
.stream-get-more:hover { background: #f0f7fd; }
.stream_loading { background: #f7f7f7 url(../images/loader.gif) no-repeat center; }
.stream-comment-preview { padding: 5px 10px; background: #f3f3f3; margin-top: 5px; }

.stream-list { margin: 0 0 20px; }
.stream-list li.stream-item { margin-bottom: 5px; min-height: 48px; _height: 48px; background: #fafafa; padding: 10px 15px 10px 70px; position: relative; }
.stream-list li.stream-item .avatar { position: absolute; top: 10px; left: 10px; }
.stream-list li.stream-item .date { display: block; color: #999; }
.stream-list li.stream-item a { text-decoration: none; }
.stream-list li.stream-item a:hover { text-decoration: underline; }
.stream-list li.stream-header-date { font-size: 12px; color: #777; margin-top: 30px; padding-bottom: 5px; border-bottom: 1px solid #eee; }


/* Подвал
================================================== */
footer .container {padding: 28px 0;}
footer .logo-img {text-indent: -9999px; margin: 0 0 25px 0;}
footer .logo-img a {display: block; background: url(../images/logo.png) no-repeat 0 -10px; width: 200px; height: 25px;}
footer .logo-img a:hover,footer .logo a:hover {opacity: 0.65; filter: alpha(opacity=65);}

footer .logo {margin: 0 0 25px 0;}
footer .logo a, 
footer .logo-img a {text-decoration: none; color: #ffffff;}
footer .logo .main {font-weight: bold; font-size: 32px; text-transform: uppercase; font-family: "Open Sans ExtraBold"; }
footer .logo .text {font-size: 26px;}

footer ul.contact {margin: 0;}
footer ul.contact span {font-style: italic; font-weight: bold; font-size: 16px;}

footer h4,
footer h5,
footer h6 {color: #497e79; font-weight: bold; font-size: 18px; margin-bottom: 30px;}

footer p, footer ul {color: #ffffff; font-size: 13px;}
footer time {color: #497e79;}
footer ul {margin-left: 25px;}
footer ul li {margin-bottom: 10px;}
footer ul li a {text-decoration: none; color: #ffffff;}
footer ul li a:hover {opacity: 0.65; filter: alpha(opacity=65);}

footer h4.footer-blog,
footer h5.footer-blog,
footer h6.footer-blog {color: #ffffff; font-style: italic; font-weight: normal;}

footer h4.footer-blog span,
footer h5.footer-blog span,
footer h6.footer-blog span {font-weight: bold; font-style: normal; text-transform: uppercase;}

footer .new-topic-blog {margin-bottom: 10px;}
footer .new-topic-blog .avatar {float: left; margin: 4px 18px 0 0;}
footer .new-topic-blog .avatar img {width: 70px; height: 70px; opacity: 0.20; filter: alpha(opacity=20);}
footer .new-topic-blog .avatar img:hover {opacity: 1; filter: alpha(opacity=100);}
footer .new-topic-blog .text p {margin-bottom: 2px;}

.container.copyright {padding: 13px 0;}
.container.copyright,
.container.copyright a {color: #ffffff; text-decoration: none;}
.container.copyright a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.container.copyright li {float: left; font-size: 22px; margin: 0 0 0 25px;}

/* Toolbar 
---------------------------------------------------- */
.toolbar 					{ float: right; position: fixed; top: 220px; right: 10px; z-index: 100; }
.toolbar section 			{ width: 34px; line-height: 14px; margin-bottom: 10px; }
.toolbar section a			{ display: block; padding: 10px; text-decoration: none; color: #444; font-size: 17px; }
.toolbar section a:hover	{ opacity: 0.65; filter: alpha(opacity=65); }
.toolbar section i			{ display: block; }

.toolbar section i.fa-angle-left,
.toolbar section i.fa-angle-right {position: relative; left: 3px;}

/* Admin button */
.toolbar .toolbar-admin a { display: block; }

/* Update comments button */
.toolbar .toolbar-update {  }
.toolbar .toolbar-update .update-comments 			{ padding: 9px; }
.toolbar .toolbar-update .update-comments i 		{ display: block; width: 16px; height: 16px; background: url(../images/update.gif) no-repeat; }
.toolbar .toolbar-update .update-comments.active i 	{ background-position: -16px 0; }
.toolbar .toolbar-update .new-comments 				{ border-top: 1px solid #eee; padding: 10px 0; color: #333; text-align: center; font-size: 11px; }

/* Topic navigation */
.toolbar .toolbar-topic a.toolbar-topic-prev {}

/* Scroll up */
.toolbar .toolbar-scrollup { display: none; }

/* Stat
================================================== */
.stat-performance { width: 910px; margin: 0 auto 20px; padding: 15px 20px; }
.stat-performance table { }
.stat-performance table td { width: 200px; vertical-align: top; }
.stat-performance h4 { font-weight: bold; color: #444; }


/* Кнопки
================================================== */

	.button,
	.button_2,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  background: #76c7c0;
	  border-bottom: 4px solid #62b9b0;
	  border-left: none;
	  border-top: none;
	  border-right: none;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	  color: #ffffff;
	  display: inline-block;
	  font-size: 14px;	 
	  text-decoration: none;
	  cursor: pointer;
	  line-height: normal;
	  padding: 18px 10px;
	  width: 200px;
	  text-align: center;
	  }

	 .button.group,
	.button_2.group,
	button.group,
	input[type="submit"].group,
	input[type="reset"].group,
	input[type="button"].group {
		margin-right: 10px;
	}

	.button:hover,
	.button_2:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
	  background: #e8645a;
	  border-bottom: 4px solid #e2534b;
	   }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
	 }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width,
	textarea.full-width {
		width: 1070px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		}

	/* Фикс уберает border и padding у Mozilla */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}

	.button.small {padding: 10px 5px;}
	.button.medium {padding: 15px 5px;}

/* Формы
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 2px solid #d9dada;
		border-bottom: none;
		padding: 10px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		color: #777;
		margin: 0;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #e5e6e6; }

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 2px solid #d9dada;
		border-bottom: none;
 		color: #777; }
	textarea {
		min-height: 60px; width: 99%; margin-bottom: 36px; }
	label,
	legend {
		display: block;
		font-size: 16px;
		color: #7f8c8c;  }
	select {
		width: 490px;
		 }
	input[type="checkbox"] {
		display: inline; }
	input[type="checkbox"].padding {
		position: relative;
		top: 1px;
		 }

	label span,
	legend span {
		font-weight: normal;
		color: #7f8c8c; }

	.label-left input {float: left; margin-right: 30px;}
	.label-left span {font-size: 16px; padding-top: 7px; display: block; float: right;}


	.input-width-1                        { width: 40px;  }
    .input-width-2                        { width: 140px; }
    .input-width-3                        { width: 240px; }
    .input-width-4                        { width: 340px; }
    .input-width-5                        { width: 440px; }
    .input-width-6                        { width: 540px; }
    .input-width-7                        { width: 640px; }
    .input-width-8                        { width: 740px; }
    .input-width-9                        { width: 840px; }
    .input-width-10                       { width: 940px; }
    .input-width-11                       { width: 1040px; }
    .input-width-12                       { width: 1140px; }
    .input-470 							  {width: 470px;}
	.input-870 							  {width: 870px;}
	.input-width-full					  {width: 98%;}
	select.input-470					  {width: 495px;}

form .icon-question-sign { cursor: help; }

.note { display: block; margin-top: 3px; font-size: 12px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-image { vertical-align: top; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 135px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; width: 300px; }

.form-profile { position: relative; }
.form-profile .avatar-change { position: absolute; top: 40px; right: 0; padding: 10px; background: #f7f7f7; font-size: 11px; }

/* Placeholder */
:-moz-placeholder { color: #aaa; }
.placeholder { color: #aaa; }

.mceEditor { display: block; margin-bottom: 20px; }


.help { 
	display: none;
	position: relative; 
	padding: 10px 7px 13px;
	background: #fafafa; 
	color: #363636; 
	margin-top: 13px; 
	font-size: 11px; 
	line-height: 16px;
	border-radius: 3px; 
	-webkit-box-shadow: 0 0 5px #eaeaea inset; box-shadow: 0 0 5px #eaeaea inset; 
}
.help:before 	{ display: block; content: ""; position: absolute; top: -12px; left: 15px; width: 0; height: 0; border-width: 6px; border-color: transparent transparent #eee transparent; border-style: solid; }
.help h3 { font-size: 15px; font-weight: bold; margin-bottom: 10px; }
.help .help-col { float: left; width: 250px; padding: 0 10px; }
.help .help-col.help-wide { float: none; width: 96%; }
.help .help-item { margin-bottom: 20px; }
.help .help-item:last-child { margin-bottom: 0; }
.help .help-item h4 { font-family: monospace; font-weight: bold; margin-bottom: 3px; }
.help .help-item h4 a { color: #e1524b; border-bottom: 1px dotted #727a90; font-size: 16px; }

/* Поиск 
================================================== */
.search 						{ margin-bottom: 20px; position: relative; }
.search .input-text 			{ padding-right: 25px; }
.search .input-submit 			{ background: none; border: none; width: 16px; height: 16px; position: absolute; top: 0px; right: -35px;; }
.search .input-submit:hover 	{ background: none; border: none; opacity: 1; filter: alpha(opacity=100); }

.search.search-item 			{ width: 100%; }
.search.search-item .input-text { width: 100%; padding-right: 5px; }

.search-tags 					{ margin-bottom: 15px; }

.search .icon-search {cursor: pointer; position: absolute; top: 10px; right: -10px; opacity: 0.65; filter: alpha(opacity=65)}
.search .icon-search:hover {opacity: 1; filter: alpha(opacity=100)}

/* Валидатор 
================================================== */
p.validate-error {}
.validate-error-hide { display: none; }
.validate-error-show { display: block; background: #f0c8c8; color: #b22626; padding: 10px 15px; font-size: 12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Страница регистрация и логин */
.img-page .map {padding: 70px;}

/* Див при наведении
================================================== */
.view {
   width: 100%;
   height: 230px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   margin-right: 30px;
}
.view .mask,.view .content {
   width: 100%;
   height: 230px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   margin-top: 15px;
}

.view img {
   display: block;
   position: relative;
}
.view h2 {
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 16px;
   padding: 10px 10px 10px 10px;
   margin: 20px 0 0 0;
   line-height: 20px;
}
.view p {
   position: relative;
   color: #fff;
   padding: 20px 20px 10px 20px;
   text-align: center;
}
.view .info a {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #76b7b1;
   color: #fff;
}
.view .info a:hover {
	background: #e2534b;
}	


.topic-skin-theme4.view {
   width: 260px;
   height: 230px;
}
.topic-skin-theme4.view .mask,
.topic-skin-theme4.view .content {
   width: 260px;
   height: 245px;
}
.topic-skin-theme4.view h2 {
   padding: 10px 10px 10px 10px;
   margin: 0;
}
.topic-skin-theme4.view p {
   padding: 20px 20px 0 20px;
   margin-bottom: 10px;
}

/* Тема 10 */

.view-default img {
   
}
.view-default .mask {
   background-color: #83ccc5;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-default h2 {
   margin: 20px 40px 0px 40px;
   color: #ffffff;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

.view-default p {
   color: #ffffff;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-default:hover img {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-default:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-default:hover h2,.view-default:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/* тема 4 */
.view-fourth img {
   -webkit-transition: all 0.4s ease-in-out 0.2s;
   -moz-transition: all 0.4s ease-in-out 0.2s;
   -o-transition: all 0.4s ease-in-out 0.2s;
   -ms-transition: all 0.4s ease-in-out 0.2s;
   transition: all 0.4s ease-in-out 0.2s;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-fourth .mask {
   background-color: #83ccc5;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0) rotate(-180deg);
   -moz-transform: scale(0) rotate(-180deg);
   -o-transform: scale(0) rotate(-180deg);
   -ms-transform: scale(0) rotate(-180deg);
   transform: scale(0) rotate(-180deg);
   -webkit-transition: all 0.4s ease-in;
   -moz-transition: all 0.4s ease-in;
   -o-transition: all 0.4s ease-in;
   -ms-transition: all 0.4s ease-in;
   transition: all 0.4s ease-in;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-fourth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}
.view-fourth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.view-fourth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1) rotate(0deg);
   -moz-transform: scale(1) rotate(0deg);
   -o-transform: scale(1) rotate(0deg);
   -ms-transform: scale(1) rotate(0deg);
   transform: scale(1) rotate(0deg);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-fourth:hover img {
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-fourth:hover h2,
.view-fourth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}

/* Тема 1 */
.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: #83ccc5;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

/* Тема 2 */
.view-second img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-second .mask {
   background-color: #83ccc5;
   width: 400px;
   padding: 0;
   height: 230px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(265px, 145px) rotate(45deg);
   -moz-transform: translate(265px, 145px) rotate(45deg);
   -o-transform: translate(265px, 145px) rotate(45deg);
   -ms-transform: translate(265px, 145px) rotate(45deg);
   transform: translate(265px, 145px) rotate(45deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-second h2 {
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: translate(200px, -200px);
   -moz-transform: translate(200px, -200px);
   -o-transform: translate(200px, -200px);
   -ms-transform: translate(200px, -200px);
   transform: translate(200px, -200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second p {
   -webkit-transform: translate(-200px, 200px);
   -moz-transform: translate(-200px, 200px);
   -o-transform: translate(-200px, 200px);
   -ms-transform: translate(-200px, 200px);
   transform: translate(-200px, 200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-second:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(-80px, -125px) rotate(45deg);
   -moz-transform: translate(-80px, -125px) rotate(45deg);
   -o-transform: translate(-80px, -125px) rotate(45deg);
   -ms-transform: translate(-80px, -125px) rotate(45deg);
   transform: translate(-0px, -0px) rotate(0deg);
}
.view-second:hover h2 {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.view-second:hover p {
   -webkit-transform: translate(0px,0px);
   -moz-transform: translate(0px,0px);
   -o-transform: translate(0px,0px);
   -ms-transform: translate(0px,0px);
   transform: translate(0px,0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
				
/* Тема 3 */
.view-third img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-third .mask {
   background-color: #83ccc5;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(460px, -100px) rotate(180deg);
   -moz-transform: translate(460px, -100px) rotate(180deg);
   -o-transform: translate(460px, -100px) rotate(180deg);
   -ms-transform: translate(460px, -100px) rotate(180deg);
   transform: translate(460px, -100px) rotate(180deg);
   -webkit-transition: all 0.2s 0.4s ease-in-out;
   -moz-transition: all 0.2s 0.4s ease-in-out;
   -o-transition: all 0.2s 0.4s ease-in-out;
   -ms-transition: all 0.2s 0.4s ease-in-out;
   transition: all 0.2s 0.4s ease-in-out;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-third h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-third p {
   -webkit-transform: translateX(300px) rotate(90deg);
   -moz-transform: translateX(300px) rotate(90deg);
   -o-transform: translateX(300px) rotate(90deg);
   -ms-transform: translateX(300px) rotate(90deg);
   transform: translateX(300px) rotate(90deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

.view-third:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}
.view-third:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view-third:hover p {
   -webkit-transform: translateX(0px) rotate(0deg);
   -moz-transform: translateX(0px) rotate(0deg);
   -o-transform: translateX(0px) rotate(0deg);
   -ms-transform: translateX(0px) rotate(0deg);
   transform: translateX(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
				

/* Тема 5 */

.view-fifth img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.view-fifth .mask {
   background-color: #83ccc5;
   -webkit-transform: translateX(-400px);
   -moz-transform: translateX(-400px);
   -o-transform: translateX(-400px);
   -ms-transform: translateX(-400px);
   transform: translateX(-400px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transition: all 0.2s 0.4s ease-in-out;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-fifth h2 {
   color: #ffffff;
}
.view-fifth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   color: #ffffff;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-fifth:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.view-fifth:hover img {
   -webkit-transform: translateX(300px);
   -moz-transform: translateX(300px);
   -o-transform: translateX(300px);
   -ms-transform: translateX(300px);
   transform: translateX(300px);
}
.view-fifth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}


/* Тема 6 */

.view-sixth img {
   -webkit-transition: all 0.4s ease-in-out 0.5s;
   -moz-transition: all 0.4s ease-in-out 0.5s;
   -o-transition: all 0.4s ease-in-out 0.5s;
   -ms-transition: all 0.4s ease-in-out 0.5s;
   transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
   background-color: #83ccc5;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-sixth h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.view-sixth:hover h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}


/* Тема 7 */

.view-seventh img {
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-seventh .mask {
   background-color: #83ccc5;
   -webkit-transform: rotate(0deg) scale(1);
   -moz-transform: rotate(0deg) scale(1);
   -o-transform: rotate(0deg) scale(1);
   -ms-transform: rotate(0deg) scale(1);
   transform: rotate(0deg) scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-seventh h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh p {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-seventh:hover img {
   -webkit-transform: rotate(720deg) scale(0);
   -moz-transform: rotate(720deg) scale(0);
   -o-transform: rotate(720deg) scale(0);
   -ms-transform: rotate(720deg) scale(0);
   transform: rotate(720deg) scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-seventh:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px) rotate(0deg);
   -moz-transform: translateY(0px) rotate(0deg);
   -o-transform: translateY(0px) rotate(0deg);
   -ms-transform: translateY(0px) rotate(0deg);
   transform: translateY(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-seventh:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.7s;
   -moz-transition-delay: 0.7s;
   -o-transition-delay: 0.7s;
   -ms-transition-delay: 0.7s;
   transition-delay: 0.7s;
}
.view-seventh:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.6s;
   -moz-transition-delay: 0.6s;
   -o-transition-delay: 0.6s;
   -ms-transition-delay: 0.6s;
   transition-delay: 0.6s;
}

/* Тема 8 */

.view-eighth .mask {
   background-color: #83ccc5;
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   -o-transition: all 0.3s ease-out 0.5s;
   -ms-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-eighth h2 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   -o-transition: all 0.2s ease-in-out 0.1s;
   -ms-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #ffffff;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.3s;
   -moz-transition: all 0.2s ease-in-out 0.3s;
   -o-transition: all 0.2s ease-in-out 0.3s;
   -ms-transition: all 0.2s ease-in-out 0.3s;
   transition: all 0.2s ease-in-out 0.3s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
}
.view-eighth:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}

/* Тема 10 */

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: #83ccc5;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.view-tenth h2 {
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #ffffff;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

.view-tenth p {
   color: #ffffff;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
				



/* -------------------------------------------------------------------
// markItUp! Costily
// By Jay Salvat - http://markitup.jaysalvat.com/
// Icon by template "synio"
// ------------------------------------------------------------------*/
.markItUp a { background: url(../images/icons.png) no-repeat !important; }
.markItUp a:hover				{opacity: 0.65; filter: alpha(opacity=65);}
.markItUp .editor-h4 a 			{ background-position: -11px -9px !important; }
.markItUp .editor-h5 a 			{ background-position: -39px -9px !important; }
.markItUp .editor-h6 a 			{ background-position: -65px -9px !important; }
.markItUp .editor-bold a 		{ background-position: -107px -9px !important; }
.markItUp .editor-italic a 		{ background-position: -134px -9px !important; }
.markItUp .editor-stroke a 		{ background-position: -188px -9px !important; }
.markItUp .editor-underline a 	{ background-position: -161px -9px !important; }
.markItUp .editor-quote a 		{ background-position: -326px -9px !important; }
.markItUp .editor-code a 		{ background-position: -353px -9px !important; }
.markItUp .editor-ul a 			{ background-position: -257px -9px !important; }
.markItUp .editor-ol a 			{ background-position: -230px -9px !important; }
.markItUp .editor-li a 			{ background-position: -550px -9px !important; }

.markItUp .editor-picture a 	{ background-position: -423px -9px !important; }
.markItUp .editor-image a 		{ background-position: -423px -9px !important; }
.markItUp .editor-link a 		{ background-position: -299px -9px !important; }

.markItUp .editor-clean a 		{ background-position: -519px -9px !important; }
.markItUp .editor-preview a 	{ background-position: -11px -9px !important; }
.markItUp .editor-cut a 		{ background-position: -491px -9px !important; }
.markItUp .editor-video a 		{ background-position: -450px -9px !important; }
.markItUp .editor-user a 		{ background-position: -380px -9px !important; }

.markItUpHeader {height: 16px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border-top: 2px solid #d9dada !important;
	border-left: 3px solid #d9dada !important;
	border-right: 3px solid #d9dada !important;
	background: #e5e6e6 !important;
}

.markItUpHeader textarea:focus {border: none !important;}

.markItUpContainer textarea {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.markItUpEditor {border: 3px solid #d9dada !important; border-top: none !important; border-bottom: none !important; }