/* ===============================================
                Адаптивность грид
================================================== */

/* ПК, если надо 960px
================================================== */

    @media only screen and (min-width: 768px) and (max-width: 1200px) {

    .container                                 { width: 960px; }
     
    /* Сетка */
    .container .width-1                        { width: 50px;  }
    .container .width-2                        { width: 130px; }
    .container .width-3                        { width: 210px; }
    .container .width-4                        { width: 290px; }
    .container .width-5                        { width: 370px; }
    .container .width-6                        { width: 450px; }
    .container .width-7                        { width: 530px; }
    .container .width-8                        { width: 610px; }
    .container .width-9                        { width: 690px; }
    .container .width-10                       { width: 770px; }
    .container .width-11                       { width: 850px; }
    .container .width-12                       { width: 930px; }

    /* 1/3 сетки */
    .container .one-third                      { width: 290px; }
    
    /* 2/3 сетки */    
    .container .two-thirds                     { width: 610px; }


    }


/*  Смартфоны (Портретое - вертикальное) для дисплеев 767px
================================================== */

    @media only screen and (max-width: 767px) {

        .wrapper {min-width: 100%}

        .container { width: 300px; margin: 0; }
        
        .container .width-1,
        .container .width-2,
        .container .width-3,
        .container .width-4,
        .container .width-5,
        .container .width-6,
        .container .width-7,
        .container .width-8,
        .container .width-9,
        .container .width-10,
        .container .width-11,
        .container .width-12,
        .container .one-third,
        .container .two-thirds  { width: 280px; }

    }


/* Смартфоны (Альбомное - горизонтальное) для дисплеев от 767px до 480px
================================================== */

    @media only screen and (min-width: 480px) and (max-width: 767px) {

        .container { width: 420px; margin: 0; }
        
        .container .width-1,
        .container .width-2,
        .container .width-3,
        .container .width-4,
        .container .width-5,
        .container .width-6,
        .container .width-7,
        .container .width-8,
        .container .width-9,
        .container .width-10,
        .container .width-11,
        .container .width-12,
        .container .one-third,
        .container .two-thirds { width: 400px; }
    }


/* ===============================================
                Адаптивность сайт
================================================== */
    /* Для дисплеев 960px - 1200px */
    @media only screen and (min-width: 768px) and (max-width: 1200px) {

        nav.menu li {margin: 0;}
        nav.menu li.registration,
        nav.menu li.pages {display: none;}

        /* Саб меню */
        .sup-menu .title a, .sup-menu .title span {font-size: 16px;}
        .sup-menu .triangle-down {top: 80px;}

        /* Главная */
        .theme-new .nivo-caption {top: 70px !important;}

        .about .brouser-center.width-6 {height: 290px; left: 250px;}
        .about .brouser-center.width-6 img {width: 440px;}
        .about .brouser-left.width-3 img, 
        .about .brouser-right.width-3 img {height: 150px;}
        .about .brouser-left.width-3, 
        .about .brouser-right.width-3 {height: 197px; bottom: 100px;}

        .knob-bg.width-2 {width: 200px !important; text-align: center;}
        .profile.about-more .vote.minus,
        .profile.about-more .vote.plus {position: absolute; top: 350px;}
        .profile.about-more .vote.plus {right: 260px;}

        .slider-carousel .pager,
        .slider-carousel .line {width: 680px;}

        .button, 
        .button_2, 
        button, 
        input[type="submit"], 
        input[type="reset"], 
        input[type="button"] {width: 140px;}

        /* Топик лист */
        .topic.topic-skin-default .topic-avatar {width: 510px;}
        .topic.topic-skin-default.topic-type-photoset .nivo-prevNav,
        .topic.topic-skin-default.topic-type-photoset .nivo-nextNav {top: 70px;}

        .topic.topic-skin-theme2 {border-bottom: 3px solid #e5e6e6; padding-bottom: 80px;}
        .topic.topic-skin-theme2 .topic-avatar {float: none; margin-bottom: 20px;}
        .topic.topic-skin-theme2 article {margin: 0 0 40px 0;}


        .topic.topic-skin-default.btopic h1, .topic.topic-skin-default.btopic .panel {width: 430px;}
        .topic.topic-skin-default .slider-carousel .list_carousel .caroufredsel_wrapper {width: 400px !important;}

        .profile .topic-avatar .row-1 {width: 650px;}
        .profile .topic-avatar .width-2 {width: 104px;}

        .topic.topic-skin-theme2 .topic-avatar {width: 300px; height: 250px; float: left;}
        .topic.topic-skin-theme2 .text .button {font-size: 14px; padding: 15px; width: 150px;}

        .topic.topic-skin-theme3 {width: 275px;}
        .topic.topic-skin-theme3 p {display: none;}
        .topic.topic-skin-theme3.view,
        .topic.topic-skin-theme3.view .mask, 
        .topic.topic-skin-theme3.view .content {height: 160px;}
        .topic.topic-skin-theme3.view .info {padding-top: 30px;}

        /* Профиль */
        .profile .topic-avatar .row-2,
        .profile .topic-avatar .row-2 a {width: 75px; height: 80px;}
        .profile .topic-avatar .row-2 a i {position: relative; top: -25px;}
        .profile .topic-avatar.width-9 {width: 750px;}
        .profile .foto .upload-photo {top: 210px;}

        /* Контент */
        .content .button, 
        .content .button_2, 
        .content button, 
        .content input[type="submit"], 
        .content input[type="reset"], 
        .content input[type="button"] {width: 200px;}

        /* Костыли */
        .container .no-sidebar.two-thirds {width: 960px;}

        .people form {width: 605px !important;}
    }

    /* Для дисплеев 480px -  767px */
    @media only screen and (min-width: 480px) and (max-width: 767px) {

        header .logo {margin: 25px 20px;}

        .sup-menu {padding: 1px 0 20px 0 !important; margin-left: 20px; }
        .sup-menu .title a,
        .sup-menu .title span {display: none;}
        .sup-menu .nav.align_right {float: none;}
        .sup-menu .triangle-down {top: 60px; left: 20px; }

        .slider-wrapper {display: none;}

        .info-block .info .button {position: relative; float: left; left: 80px; }
        .info-block {padding-top: 40px;}

        .nav-2-container .nav-2 {margin-bottom: 40px;}
        .nav-2-container .nav-2 .button, 
        .nav-2-container .nav-2 .button_2 {left: 100px;}

        .about .brouser-left.width-3,
        .about .brouser-right.width-3 {display: none;}
        .about .brouser-center.width-6 {left: 0; height: 264px;}
        .about .brouser-center.width-6 img {width: 390px;}
        .about .why-img {height: 280px;}

        .knob-bg.width-2 {margin: 20px 35px !important;}

        .slider-carousel .line,
        .slider-carousel .pager {display: none !important;}

        footer h4, footer h5, footer h6 {margin-top: 40px;}
        .copyright {padding: 13px 0 13px 10px;}

        /* Мобильное меню */
        nav.menu ul {height: auto; display: none;}
        nav li {display: block; float: none; width: 100%; text-align: center; margin: 10px 5px !important;}
        nav.menu a#pull {display: block !important; width: 100%; text-indent: -9999px;}
        nav.menu a#pull:after {content: ""; background: url(../images/menu-mobile.png) no-repeat; width: 30px; height: 30px;  position: absolute; right: 0px; top: 20px;}
        nav.menu a#pull:hover {background: none; border: none;}

        .dropdown {top: 230px; left: 5px;}
        .dropdown ul li {width: 190px;}

        .dropdown-add {top: 280px; left: 5px;}
        .dropdown-add ul li {width: 190px;}

        .dropdown-profile {top: 330px; left: 5px;}
        .dropdown-profile ul li {width: 190px;}

        .dropdown-pages {top: 400px; left: 5px;}
        .dropdown-pages ul li {width: 190px;}

        .content {padding-top: 0px;}

        .topic.topic-skin-default .topic-avatar,
        .topic.topic-skin-default .info,
        .topic.topic-skin-default .panel {display: none;}
        .topic.topic-skin-default .slider-wrapper {display: block;}
        .topic.topic-skin-default.topic-type-photoset .nivo-prevNav,
        .topic.topic-skin-default.topic-type-photoset .nivo-nextNav {top: 30px;}
        .topic.topic-skin-default article {margin: 0;}

        .topic.topic-skin-default.btopic.topic-type-photoset .nivo-prevNav, 
        .topic.topic-skin-default.btopic.topic-type-photoset .nivo-nextNav {top: 45px; }
        .topic.topic-skin-default.btopic .topic-avatar,
        .topic.topic-skin-default.btopic .panel,
        .topic.topic-skin-default.btopic .info {display: block;}
        .topic.topic-skin-default.btopic h1, .topic.topic-skin-default.btopic .panel {width: 420px;}

        .topic.topic-skin-theme2 {border-bottom: 3px solid #e5e6e6; padding-bottom: 80px;}
        .topic.topic-skin-theme2 article {margin: 0 0 40px 0;}
        .topic.topic-skin-theme2 .topic-avatar {width: 400px; margin-bottom: 20px;}

        .topic.topic-skin-default .slider-carousel .list_carousel .share-text {display: none;}

        .sidebar {display: none !important;}

        .comments-header {display: none;}
        .comment .comment-info li.comment-date {display: none;}
        .comment .comment-info li.goto-comment-child {display: none !important;}
        .comment .comment-info li.reply.comment-favourite {display: none;}
        .comment-wrapper .comment-wrapper {padding: 0;}

        .copyright .align_right {float: none; margin-top: 55px;}
        .copyright .align_left {margin-left: 25px;}


        .profile .foto .upload-photo {top: 400px;}
        .profile .topic-avatar.width-9 {display: none;}

        .profile.about-more .title h1, .profile.about-more .title h2, .profile.about-more .title h3 {margin-top: 40px;}

        .wall-submit {margin-left: 10px;}

    .input-width-1,
    .input-width-2,
    .input-width-3,
    .input-width-4,
    .input-width-5,
    .input-width-6,
    .input-width-7,
    .input-width-8,
    .input-width-9,
    .input-width-10,
    .input-width-11,
    .input-width-12,
    .input-470,
    .input-870                            {width: 375px;}
    .input-width-full                     {width: 100%;}

    .people form {width: 300px !important; padding: 0 0 40px 10px;}
    .people .search-abc {padding-left: 10px;}

    .width-8.img-page {display: none;}

    }

    /* Для дисплеев 479px */
    @media only screen and (max-width: 479px) {

        header .logo {margin: 25px 20px;}

        .sup-menu {padding: 1px 0 20px 0 !important; margin-left: 20px; }
        .sup-menu .title a,
        .sup-menu .title span {display: none;}
        .sup-menu .nav.align_right {float: none;}
        .sup-menu .triangle-down {top: 60px; left: 20px; }

        .slider-wrapper {display: none;}

        .info-block .info .button {position: relative; float: left; left: 10px; }

        .nav-2-container .nav-2 {margin-bottom: 40px;}
        .nav-2-container .nav-2 .button, 
        .nav-2-container .nav-2 .button_2 {left: 30px;}

        .about .brouser-left.width-3,
        .about .brouser-right.width-3 {display: none;}
        .about .brouser-center.width-6 {left: 0; height: 197px;}
        .about .brouser-center.width-6 img {width: 270px;}
        .about .why-img {height: 210px;}
        .about .title {padding: 65px 5px;}

        .knob-bg.width-2 {margin: 20px 70px;}

        .slider-carousel .line,
        .slider-carousel .pager {display: none !important;}
        .slider-carousel .title h6 {padding-left: 5px;}

        footer h4, footer h5, footer h6 {margin-top: 40px;}
        .copyright {padding: 13px 0 13px 10px;}
        .copyright .align_right {float: left; margin-top: 20px;}

        /* Мобильное меню */
        nav.menu ul {height: auto; display: none;}
        nav li {display: block; float: none; width: 100%; text-align: center; margin: 10px 5px !important;}
        nav.menu a#pull {display: block !important; width: 100%; text-indent: -9999px;}
        nav.menu a#pull:after {content: ""; background: url(../images/menu-mobile.png) no-repeat; width: 30px; height: 30px;  position: absolute; right: 0px; top: 20px;}
        nav.menu a#pull:hover {background: none; border: none;}

        .dropdown {top: 230px; left: 5px;}
        .dropdown ul li {width: 190px;}

        .dropdown-add {top: 280px; left: 5px;}
        .dropdown-add ul li {width: 190px;}

        .dropdown-profile {top: 330px; left: 5px;}
        .dropdown-profile ul li {width: 190px;}

        .dropdown-pages {top: 400px; left: 5px;}
        .dropdown-pages ul li {width: 190px;}

        .topic.topic-skin-default .topic-avatar,
        .topic.topic-skin-default .info,
        .topic.topic-skin-default .panel {display: none;}
        .topic.topic-skin-default .info {display: none;}
        .topic.topic-skin-default article {margin: 35px 0 0 0;}
        .topic.topic-skin-default .topic-avatar {width: 280px;}
        .topic.topic-skin-default .slider-wrapper {display: block;}
        .topic.topic-skin-default.topic-type-photoset .nivo-prevNav,
        .topic.topic-skin-default.topic-type-photoset .nivo-nextNav {top: 30px;}

        .topic.topic-skin-default .social-share li.share-text {display: none;}

        .topic.topic-skin-default.btopic .topic-avatar,
        .topic.topic-skin-default.btopic .panel,
        .topic.topic-skin-default.btopic .info {display: block;}
        .topic.topic-skin-default .slider-carousel .list_carousel .share-text {display: none;}

        .topic.topic-skin-theme2 {border-bottom: 3px solid #e5e6e6; padding-bottom: 80px;}
        .topic.topic-skin-theme2 article {margin: 0 0 40px 0;}
        .topic.topic-skin-theme2 .topic-avatar {width: 290px; margin-bottom: 20px;}

        .sidebar {display: none !important;}

        .comments-header {display: none;}
        .comment .comment-info li.comment-date {display: none;}
        .comment .comment-info li.goto-comment-child {display: none !important;}
        .comment .comment-info li.reply.comment-favourite {display: none;}
        .comment-wrapper .comment-wrapper {padding: 0;}
        .comment .comment-avatar {display: none;}
        .comment {padding: 0 0 10px 0px;}
        .comment .comment-info {padding: 25px 70px 7px 0px;}
        .comment .comment-info li.comment-author {margin: 0;}

        .copyright .align_right {float: none; margin-top: 55px;}
        .copyright .align_left {margin-left: 25px;}


        .profile .foto .upload-photo {top: 400px;}
        .profile .topic-avatar.width-9 {display: none;}

        .profile.about-more .title h1, .profile.about-more .title h2, .profile.about-more .title h3 {margin-top: 40px;}

        .wall-submit {margin-left: 10px;}

    .input-width-1,
    .input-width-2,
    .input-width-3,
    .input-width-4,
    .input-width-5,
    .input-width-6,
    .input-width-7,
    .input-width-8,
    .input-width-9,
    .input-width-10,
    .input-width-11,
    .input-width-12,
    .input-470,
    .input-870                            {width: 255px;}
    .input-width-full                     {width: 100%;}

    .people form {width: 200px !important; padding: 0 0 40px 10px;}
    .people .search-abc {padding-left: 10px;}

    .width-8.img-page {display: none;}

    }
