/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table 					{ width: 100%; margin-bottom: 15px; background: #f8f8f8; border-bottom: 3px solid #e5e6e6; -moz-border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
border-radius: 0 5px 0 0; }
.table th, .table th a	{ text-align: left; color: #ffffff; font-size: 16px; }
.table th a 			{text-decoration: none; display: block; }
.table th a:hover		{opacity: 0.65; filter: alpha(opacity=65);}
.table td, .table th 	{ border-bottom: 1px solid #eee; padding: 10px 15px; }
.table td a {color: #777;}
.table tr.active td 	{ background: #CBF4BC; }
.table tr {border-bottom: 1px solid #e5e6e6}

.table a.asc:after		{ content: ""; }
.table a.desc:after		{ content: ""; }

.table thead {border-bottom: 3px solid #e5e6e6;}
.table thead.theme1 {background-color: #ececec;}
.table thead.theme1 th,
.table thead.theme1 th a {color: #7f8c8c;}
.table thead.theme2 {background-color: #62b9b0;}
.table thead.theme3 {background-color: #e2534b;}

.table p {margin: 0;}

/* Table Blogs */
.table.table-blogs .cell-name {-moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}
.table.table-blogs .cell-name .avatar 	{ float: left; margin-right: 10px; clear: right; }
.table.table-blogs .cell-name p		 	{ overflow: hidden; margin-top: 10px; }
.table.table-blogs .cell-rating 		{ width: 70px; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }
.table.table-blogs .cell-readers 		{ width: 70px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-join 			{ width: 160px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-rating 		{ text-align: center; vertical-align: middle; }

/* Table Plugins */
.table.table-plugins .cell-checkbox 	{ width: 20px; padding: 12px 0 10px 10px; }
.table.table-plugins h3 				{ font-weight: bold; font-size: 17px; line-height: 20px; margin-bottom: 5px; }

/* Table Profile Notes */
.table.table-profile-notes 					{ border-top: 1px solid #eee; }
.table.table-profile-notes td 				{ vertical-align: top; }
.table.table-profile-notes .cell-username 	{ width: 20%; -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }

/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info td 			{ vertical-align: top; }
.table.table-profile-info .cell-label 	{ width: 30%; color: #777; }

/* Table Users */
.table.table-users th 					{ }
.table.table-users .cell-name 			{-moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.table.table-users .cell-name img 		{ float: left; margin-top: 1px; }
.table.table-users .cell-name .username { margin-left: 32px; width: 120px; position: relative; top: 1px; }
.table.table-users tbody .cell-date 	{ }
.table.table-users .cell-rating 		{-moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}
.table.table-users .cell-rating,
.table.table-users .cell-skill 			{ text-align: center; width: 50px; }

/* Table Talk */
.table.table-talk .cell-checkbox 		{ width: 20px; padding: 12px 0 10px 10px; }
.table.table-talk thead .cell-checkbox 	{ padding: 10px 0 10px 10px; -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0;}
.table.table-talk .cell-favourite 		{ width: 20px; padding: 10px 0; text-align: center; }
.table.table-talk .cell-recipients 		{ width: 100px; }
.table.table-talk tbody .cell-date 		{ font-size: 11px; width: 130px; }
.table.table-talk th.cell-date {-moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}
.table.table-talk tbody td				{ vertical-align: top; }

th.rr {-moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0;}