/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The new skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-new .nivoSlider {
	position:relative;
	background:url(loading.gif) no-repeat 50% 50%; 
}
.theme-new .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-new .nivoSlider a {
	border:0;
	display:block;
}

.theme-new .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-new .nivo-controlNav a {
	display:inline-block;
	width:60px;
	height:5px;
	background-color: #b0b8b9;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-new .nivo-controlNav a.active {
	background-color: #e2534b;
}

.theme-new .nivo-directionNav a {
	display:block;
	width:50px;
	height:60px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-new:hover .nivo-directionNav a:hover { opacity: 0.65; filter: alpha(opacity=65); }
.theme-new a.nivo-nextNav {
	background-position:0;
	right:0px;
}
.theme-new a.nivo-prevNav {
	background-position:-70px 0;
	left:0px;
}

.theme-new .nivo-caption {
position: absolute;
left: 0px;
top: 120px;
background: none;
color: #fff;
width: 100%;
z-index: 8;
padding: 5px 10px;
opacity: 0.8;
overflow: hidden;
display: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.theme-new .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-new .nivo-caption a:hover {
    
}

.theme-new .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-new .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-new .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

.theme-new .text-center {
	width: 300px;
}

.theme-new .text-center h2,
.theme-new .text-center h3,
.theme-new .text-center h4,
.theme-new .text-center h5,
.theme-new .text-center h6 {
	color: #fff !important;
	font-family: "Open Sans ExtraBold";
	font-weight: bold;
	background-color: #e2534b !important;
	text-transform: uppercase;
}
.theme-new .text-center a {text-decoration: none;}

.theme-new .text-center p {
	background-color: #000000;
	color: #fff;
	opacity: 1; filter: alpha(opacity=100);
	position: relative;
	left: -120px;
	width: 460px;
	padding: 15px 35px;
	font-size: 16px;
}