/* Ресет
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* Главное
================================================== */
	body {
		-webkit-font-smoothing: antialiased; /* Утончение текста для Safari под Мак, фикс для webkit  */
		-webkit-text-size-adjust: 100%; /* Размер текста для Safari под Мак на мобильном устройсте, фикс для webkit  */
 }

.align_left { float:left; }
.align_right { float:right; }
.align_center {margin: 0 auto;}
.text_align_left { text-align: left; }
.text_align_center { text-align: center; }
.text_align_right { text-align: right; }

/* Сетка 1200px на 12 колонок
================================================== */

    .wrapper                                   {max-width: 100%; min-width: 960px;}
    .wrapper.blue-light                        {background-color: #76c7c0;}
    .wrapper.blue                              {background-color: #6ab3ac;}
    .wrapper.gray-light                        {background-color: #ececec;}
    .wrapper.gray                              {background-color: #7f8c8c;}
    .wrapper.white                             {background-color: #f3f3f3;}
    .wrapper.liner                             {background: url(../images/liner.png) repeat-x; height: 9px;}
    .wrapper.liner-white                       {background: url(../images/liner_white.png) repeat-x; height: 19px;}
    .wrapper.liner-footer                       {background: url(../images/liner_footer.png) repeat-x; height: 19px;}

    .container                                 { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
    .container .width-1,
    .container .width-2,
    .container .width-3,
    .container .width-4,
    .container .width-5,
    .container .width-6,
    .container .width-7,
    .container .width-8,
    .container .width-9,
    .container .width-10,
    .container .width-11,
    .container .width-12,
    .container .one-third,
    .container .two-thirds                     { float: left; display: inline; margin-left: 15px; margin-right: 15px; }
    .row                                       { margin-bottom: 20px; }
     
    .container .width-1                        { width: 70px;  }
    .container .width-2                        { width: 170px; }
    .container .width-3                        { width: 270px; }
    .container .width-4                        { width: 370px; }
    .container .width-5                        { width: 470px; }
    .container .width-6                        { width: 570px; }
    .container .width-7                        { width: 670px; }
    .container .width-8                        { width: 770px; }
    .container .width-9                        { width: 870px; }
    .container .width-10                       { width: 970px; }
    .container .width-11                       { width: 1070px; }
    .container .width-12                       { width: 1170px; }

    /* 1/3 сетки */
    .container .one-third                      { width: 270px; }
    /* 2/3 сетки */
    .container .two-thirds                     { width: 870px; }

/* Очистка
================================================== */

    /* Автоклин для container  */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Класс clearfix для очистки float, или <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
    .row:after,
    .clearfix:after { clear: both; }
    .row,
    .clearfix { zoom: 1; }

    /* Можно использовать <br class="clear" /> чтобы очистить float */
    .clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }