/* ==================================================
						Главное
================================================== */

/* Документ
================================================== */
	body {
		background-color: #fff;
		font: 14px/21px "Open sans", Arial, sans-serif; /* 14px/21px 14-размер, 21 - интерлиньяж (межстрочное растояние) */
		color: #777777;
 }

/* Типографика
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #7f8c8c;
		font-family: "Open sans", Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; color: #7f8c8c; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p a, p a:visited { line-height: inherit; }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Цитаты  */
	blockquote, blockquote p {}
	blockquote { margin: 0 0 20px; padding: 0 0 0 28px; border-left: 3px solid #7f8c8c; }
	/*	Сноска, ссылка  */
	blockquote cite { display: block; font-size: 12px; color: #ccc; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #777; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* ==================================================
   Code и Pre
================================================== */

code, pre { padding: 0 3px 2px; color: #232527; font-size: 12px; font-family: Monaco, Menlo, Consolas, "Courier New", monospace;}
code { padding: 2px 4px; border: 1px solid #dde4e9; background-color: #F6F6F6; color: #232527; white-space: nowrap;}
pre { display: block; margin: 70px 50px; padding: 30px; border: 1px solid #dde4e9; background-color: #FCFCFC; white-space: pre; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; font-size: 12px; line-height: 20px; }
pre code { padding: 0; border: 0; background-color: transparent; color: inherit; white-space: pre; white-space: pre-wrap; }

.pre-scrollable { overflow-y: scroll; max-height: 340px; }

/* Ссылки
================================================== */
	a { color: #e1524b; outline: 0; }
	a:visited {text-decoration: underline;}
	a:hover, a:focus { text-decoration: none; }

/* Списки
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }

	ul.arrow li {background: url(../images/li_arrow.png) no-repeat 0 2px; padding-left: 18px;}
	ul.arrow-1 li {background: url(../images/li_arrow_1.png) no-repeat 0 8px; padding-left: 20px;}
	ul.arrow-light li {background: url(../images/li_arrow_light.png) no-repeat 0 6px; padding-left: 15px;}
	ul.arrow-circle li {background: url(../images/li_arrow_circle.png) no-repeat 0 4px; padding-left: 30px;}
	ul.arrow-circle-1 li {background: url(../images/li_arrow_circle_1.png) no-repeat 0 4px; padding-left: 30px;}
	

/* Картинки
================================================== */

	img.full-with {
		max-width: 100%;
		height: auto; }
	/* закруглкнные углы */
	img.img-rounded {
  		-webkit-border-radius: 5px;
     	-moz-border-radius: 5px;
        border-radius: 5px;
	}
	/* рамкой */
	img.img-polaroid {
  		padding: 4px;
  		background-color: #fff;
  		border: 1px solid #ccc;
  		border: 1px solid rgba(0, 0, 0, 0.2);
  		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	}
	/* круглое */
	img.img-circle {
  		-webkit-border-radius: 500px;
     	-moz-border-radius: 500px;
        border-radius: 500px;
	}

/* Разное
================================================== */

    .border-radius {-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

/* ==================================================
						Сайт
================================================== */


/* Шапка
================================================== */
header {}

header .logo-img {text-indent: -9999px; margin: 20px 0;}
header .logo-img a {display: block; background: url(../images/logo.png) no-repeat 0 -10px; width: 200px; height: 25px;}
header .logo-img a:hover {opacity: 0.65; filter: alpha(opacity=65);}

header .logo {margin: 25px 0;}
header .logo a, 
header .logo-img a {text-decoration: none; color: #ffffff;}
header .logo .main {font-weight: bold; font-size: 24px; text-transform: uppercase; }
header .logo .text {font-size: 24px;}

/* Меню
================================================== */

/* Главное меню */
nav.menu {text-transform: uppercase;}
nav.menu ul {margin: 25px 0;}
nav.menu li {float: left; margin: 0 15px 0 0;}
nav.menu a {color: #ffffff; padding: 5px 12px; text-decoration: none;}
nav.menu a:hover,
nav.menu a:hover.active  {background-color: #e8645a; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #e2534b;}
nav.menu a.active {background-color: #62a29e; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border-bottom: 3px solid #528b86; }
nav.menu a#pull {display: none;} /* Прячем кнопку меню */

.sup-menu {padding: 30px 0;}
.sup-menu a {text-decoration: none; color: #7f8c8c;}
.sup-menu a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.sup-menu .title a {text-transform: uppercase; font-weight: bold; font-size: 18px; margin-left: 10px;}

.sup-menu .nav li {float: left; margin-bottom: 0;}
.sup-menu .nav a {margin: 0 5px; font-size: 12px;}
.sup-menu .nav a:hover {text-decoration: underline;}
.sup-menu .nav a.active {opacity: 0.65; filter: alpha(opacity=65);}

.sup-menu .triangle-down {position: absolute; top: 82px; width: 0; height: 0; border-left: 12px solid  transparent; border-right: 12px solid transparent; border-top: 12px solid #ececec;}

/* Drop down menu top
================================================== */

.bt-dropdown { display:block; position:relative; cursor:pointer; top: -5px; padding: 5px 19px 5px 23px !important; }
.bt-dropdown .txt { display:block; padding-left: 10px; }
.bt-dropdown .ar { position:absolute; left: 15px; top: 4px; font-size: 10px; }

.bt-dropdown:hover { }
.bt-dropdown:active, .bt-dropdown.active { background-color: #e8645a !important; border-bottom: 3px solid #e2534b !important; }
.bt-dropdown.active { }
.bt-dropdown:hover .txt, .bt-dropdown:active .txt, .bt-dropdown.active .txt {}

.dropdown { position:absolute; top:61px; display:none; z-index:40000; background-color: #e2534b; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown ul { width: 200px; margin: 0 !important; text-transform: none; }
.dropdown ul li { background-color: #e5655d; display:block; zoom:1; float: none; margin: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
.dropdown ul li a { border: none; display:block; position:relative; zoom:1; padding: 6px; }
.dropdown ul li a div { position:absolute; bottom:-1px; left:0; right:0; height:1px; display:block; z-index:20; display:none; zoom:1; }

.dropdown ul li:hover a { background-color: #76c7c0; border: none; }
.dropdown ul li:hover a div { display:block; }
.dropdown ul li.active a {background-color: #76c7c0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.dropdown .dropdown-line {background: url(../images/arrow_dropdown.png) no-repeat; height: 6px; width: 12px; position: relative; top: -6px; left: 13px; }

/* Контент
================================================== */
.content {padding: 66px 0;}

/* Топик по умолчанию
================================================== */

.topic.topic-skin-default a {text-decoration: none;}
.topic.topic-skin-default a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.topic.topic-skin-default article {margin: 35px 0 0 100px;}
.topic.topic-skin-default article h1,
.topic.topic-skin-default article h2,
.topic.topic-skin-default article a h1,
.topic.topic-skin-default article a h2 {color: #76c7c0; font-size: 24px; }
.topic.topic-skin-default article a:hover h1,
.topic.topic-skin-default article a:hover h2 {opacity: 0.65; filter: alpha(opacity=65);}

/* типографика топика */
.topic.topic-skin-default article p {margin-bottom: 30px !important;}

.topic.topic-skin-default article .panel li {float: left; margin-right: 15px;}
.topic.topic-skin-default article .panel li i {color: #62b9b0; margin-right: 4px;}
.topic.topic-skin-default article .panel li .new-comments {font-size: 13px;}
.topic.topic-skin-default article .panel li .go-comments {color: #777777;}

.topic.topic-skin-default {padding: 42px 0; border-bottom: 3px solid #e5e6e6;}

.topic.topic-skin-default .info {width: 70px; float: left;}
.topic.topic-skin-default .date,
.topic.topic-skin-default .topic-type {border-bottom: 3px solid #e5e6e6; margin-bottom: 17px;}
.topic.topic-skin-default .date {background-color: #f8f8f8; padding: 14px; font-size: 24px; text-transform: uppercase;}
.topic.topic-skin-default .date .namber {font-weight: bold; padding-top: 15px; display: block;}

/* Топик текстовый */

.topic.topic-skin-default .topic-type {background-color: #7f8c8c; color: #ffffff; padding: 20px 5px; font-size: 30px;}

.topic.topic-skin-default .topic-avatar {width: 770px; float: right;}
.topic.topic-skin-default .topic-avatar img {border-bottom: 3px solid #e5e6e6;}

.topic.topic-skin-default .text,
.topic.topic-skin-default .text p {margin: 0; font-size: 14px;}

.topic.topic-skin-default .text .cut {margin-top: 25px; display: block;}
.topic.topic-skin-default .text .cut i {font-size: 13px; margin-left: 6px;}

/* Топик страница */

.topic.topic-skin-default.btopic {border-bottom: 0;}
.topic.topic-skin-default.btopic .topic-avatar {float: none; width: 100%;}
.topic.topic-skin-default.btopic article {margin: -9px 0 0 0;}
.topic.topic-skin-default.btopic .info {margin: 10px 30px 10px 0;}


/* Сайдбар
================================================== */

.sidebar {margin-top: 105px;}
.sidebar .block {margin-bottom: 15px; overflow: hidden;}
.sidebar .block h4,
.sidebar .block h5,
.sidebar .block h6 {font-weight: bold; text-transform: uppercase; font-size: 16px; margin-bottom: 30px;}
.sidebar .block ul {margin-left: 12px;}
.sidebar .block ul li {margin-bottom: 15px;}

.sidebar .block.blogs {text-transform: uppercase; color: #e2534b; font-size: 13px;}
.sidebar .block.blogs a {color: #e2534b; text-decoration: none; font-weight: bold;}
.sidebar .block.blogs a:hover {opacity: 0.65; filter: alpha(opacity=65);}

.sidebar .block.stream li {border-bottom: 1px solid #e5e6e6; padding-bottom: 12px;}
.sidebar .block.stream li a {line-height: 24px; display: block;s}
.sidebar .block.stream time {display: block;}

.sidebar .block.tags li {float: left; margin-right: 10px;}
.sidebar .block.tags li a {background-color: #7f8c8c; color: #ffffff; padding: 4px 10px; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.sidebar .block.tags li a:hover {background-color: #e2534b;}

/* Подвал
================================================== */
footer .container {padding: 28px 0;}
footer .logo-img {text-indent: -9999px; margin: 0 0 25px 0;}
footer .logo-img a {display: block; background: url(../images/logo.png) no-repeat 0 -10px; width: 200px; height: 25px;}
footer .logo-img a:hover {opacity: 0.65; filter: alpha(opacity=65);}

footer .logo {margin: 0 0 25px 0;}
footer .logo a, 
footer .logo-img a {text-decoration: none; color: #ffffff;}
footer .logo .main {font-weight: bold; font-size: 24px; text-transform: uppercase; }
footer .logo .text {font-size: 24px;}

footer ul.contact {margin: 0;}
footer ul.contact span {font-style: italic; font-weight: bold; font-size: 16px;}

footer h4,
footer h5,
footer h6 {color: #497e79; font-weight: bold; font-size: 18px; margin-bottom: 30px;}

footer p, footer ul {color: #ffffff; font-size: 13px;}
footer time {color: #497e79;}
footer ul {margin-left: 25px;}
footer ul li {margin-bottom: 10px;}
footer ul li a {text-decoration: none; color: #ffffff;}
footer ul li a:hover {opacity: 0.65; filter: alpha(opacity=65);}

footer h4.footer-blog,
footer h5.footer-blog,
footer h6.footer-blog {color: #ffffff; font-style: italic; font-weight: normal;}

footer h4.footer-blog span,
footer h5.footer-blog span,
footer h6.footer-blog span {font-weight: bold; font-style: normal; text-transform: uppercase;}

footer .new-topic-blog {margin-bottom: 10px;}
footer .new-topic-blog .avatar {float: left; margin: 4px 18px 0 0;}
footer .new-topic-blog .avatar img {width: 70px; height: 70px; opacity: 0.20; filter: alpha(opacity=20);}
footer .new-topic-blog .avatar img:hover {opacity: 1; filter: alpha(opacity=100);}
footer .new-topic-blog .text p {margin-bottom: 2px;}

.copyright {padding: 13px 0;}
.copyright,
.copyright a {color: #ffffff; text-decoration: none;}
.copyright a:hover {opacity: 0.65; filter: alpha(opacity=65);}
.copyright li {float: left; font-size: 22px; margin: 0 0 0 25px;}